@import "mixins";
@import "compass";

/* Colors */

$black: #000;
$gray: #888;
$lightred: #FF9395;
$royalblue: #4169E1;
$white: #FFF;
$yellow: #EEFF59;

/* Overridden aui tags */

.aui .todo-portlet {
	.btn.add-task {
		background: $royalblue none;
		border-width: 0;
		color: $white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		margin-bottom: 10px;
		margin-left: 3px;
		margin-top: -5px;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		text-decoration: none;
		width: 11%;

		&:hover {
			background-color: #BBB;
			font-size: 18px;
		}
	}

	input[type="text"].input-item {
		border: 1px solid #CCC;
		border-radius: 10px;
		box-sizing: content-box;
		float: left;
		font-size: 16px;
		height: 18px;
		margin: auto;
		padding: 10px 0 10px 1%;
		width: 85%;

		&:hover {
			font-size: 18px;
		}
	}
}

@include respond-to(tablet) {
	.aui .todo-portlet {
		.btn.add-task {
			box-shadow: 10px 10px 5px $gray;
			width: 14%;
		}

		input[type="text"].input-item {
			width: 84%;
		}
	}
}

@include respond-to(phone) {
	.aui .todo-portlet {
		input[type="text"].input-item {
			border-radius: 0;
			width: 98.5%;

			&:hover {
				font-size: 16px;
			}
		}

		.btn.add-task {
			border-radius: 0;
			box-shadow: 10px 10px 5px $gray;
			font-weight: bold;
			margin: 0 0 10px 0;
			text-transform: uppercase;
			width: 100%;

			&:hover {
				font-size: 16px;
			}
		}
	}
}

/* Todo portlet */

.todo-portlet {
	.counter {
		background-color: $royalblue;
		border-radius: 50%;
		color: #E1E6EF;
		font-weight: bold;
		margin: 0 5px 0 6px;
		padding: 8px 8px 8px 8px;

		&:hover {
			font-size: 20px;
		}
	}

	.delete-task {
		background-color: $white;
		border-width: 0;
		color: $white;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
		background-color: #757C87;
		}
	}

	.empty-task-history {
		font-style: italic;
		text-align: center;
	}

	.finished-task {
		border-top: 1px solid #C7CED8;
		margin-top: 8px;

		li {
			background-color: #FF6B68;
			border-radius: 0;
			box-shadow: 10px 10px 5px $gray;
			color: $white;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			margin-bottom: 6px;
			padding: 8px 8px 8px 8px;
		}

		button {
			background-color: #FF6B68;
			border-radius: 50%;
			border-width: 0;
			color: $white;
			float: right;
			margin-top: -6px;
			padding: 6px 10px 6px 10px;

			&:hover {
				background-color: #757C87;
			}
		}
	}

	.finished-tasks {
		padding: 0 10px 10px 10px;

		h3 {
			font-size: 30px;
			text-align: center;
		}
	}

	.form-container {
		margin: auto;
		width: 90%;

		h3 {
			color: $royalblue;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}

		form {
			font-size: 16px;
			margin: auto;
			width: 100%;

			input, select {
				box-sizing: content-box;
				float: left;
				height: 18px;
				margin: auto;
				padding: 10px 0 10px 1%;
				width: 100%;

				&:hover {
					font-size: 18px;
				}
			}

			textarea {
				width: 100%;

				&:hover {
					font-size: 18px;
				}
			}
		}

		.form-buttons {
			text-align: center;

			button {
				background: $royalblue none;
				border-width: 0;
				color: $white;
				cursor: pointer;
				display: inline-block;
				font-size: 16px;
				margin-bottom: 10px;
				padding-bottom: 10px;
				padding-top: 10px;
				text-align: center;
				text-decoration: none;

				&:hover {
					background-color: #BBB;
					font-size: 18px;
				}
			}
		}
	}

	.list-container {
		background-color: $white;
		border-left: 1px solid #C7CED8;
		height: 100%;
		margin: auto;
		max-width: 900px;
		min-height: 600px;

		.header {
			background-color: $royalblue;
			color: $white;
			padding: 20px 40px;
			text-align: center;
		}

		h2 {
			font-size: 60px;
			font-weight: 900;
			margin-top: -10px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.task-container {
		padding: 10px 10px 10px 10px;

		h3 {
			font-family: Raleway, sans-serif;
			font-size: 30px;
			font-weight: 900;
			text-transform: uppercase;
		}
	}

	.task-history {
		padding: 0 10px 0 10px;

		h3 {
			color: $royalblue;
			font-family: Raleway, sans-serif;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}

		ul {
			margin-left: 0;
		}

		li {
			background: $gray;
			box-shadow: 10px 10px 5px $gray;
			color: #FFF;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			margin-bottom: 6px;
			padding: 8px 8px 8px 8px;
			text-decoration: line-through;

			button {
				display: none;
			}
		}

		li:nth-child(odd) {
			background: #DDD;
			color: $white;
		}
	}

	.task-list {
		margin-left: 0;
		margin-top: 8px;

		li {
			background-color: #1A53AF;
			box-shadow: 10px 10px 5px $gray;
			color: $white;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			margin-bottom: 6px;
			padding: 8px 8px 8px 8px;
			position: relative;

			&:nth-child(odd) {
				background-color: #93D5FF;
			}
		}
	}

	.remaining-tasks-container {
		margin-bottom: 0;

		.remaining-tasks-count {
			background-color: $yellow;
			border-radius: 50%;
			color: $black;
			float: left;
			font-weight: bold;
			margin: 0 5px 0 6px;
			padding: 0 8px 0 8px;

			&:hover {
				font-size: 20px;
			}
		}

		.remaining-tasks {
			font-style: italic;
			margin-bottom: -8px;
		}
	}

	.welcome-message {
		background-color: $lightred;
		color: $white;
		display: inline-block;
		float: right;
		font-weight: bold;
		padding: 10px 10px 10px 10px;

		img {
			border-radius: 50%;
			float: right;
			height: 25px;
			padding-left: 10px;
			width: 25px;
		}
	}
}

@include respond-to(tablet) {
	.delete-task {
		font-size: 16px;
		padding: 8px 8px;
		width: 7%;
	}

	.list-container {
		min-height: 600px;

		.header {
			padding: 20px 15px;
		}

		.welcome-message {
			width: 97.5%;
		}
	}
}

@include respond-to(phone) {
	.counter {
		border-radius: 0;
		font-style: italic;
		font-weight: bold;
		margin: 0;

		&:hover {
			font-size: 14px;
		}
	}

	.delete-task {
		padding: 8px;
		width: 10%;
	}

	.finished-task, .task-list {
		width: 100%;
	}

	.finished-task button {
		padding: 4px 12px 4px 8px;
	}

	.finished-task button, .finished-task li, .delete-task, .task-list li {
		border-radius: 0;
	}

	.finished-task li, .task-list li {
		box-shadow: 10px 10px 5px $gray;
		margin-bottom: 6px;
	}

	.form-container {
		margin: auto;
		width: 100%;

		form {
			font-size: 14px;
			text-align: center;
			width: 92.5%;

		input, select {
				font-size: 14px;
				width: 100%;
			}

			textarea {
				width: 97%;
			}

			input, select, textarea {
				&:hover {
				font-size: 14px;
				}
			}
		}

		.form-buttons button {
			border-radius: 0;
			box-shadow: 10px 10px 5px $gray;
			margin-bottom: 0;
			width: 100%;
		}
	}

	.list-container {
		border-radius: 0;
		box-shadow: 10px 10px 0 $gray;
		min-height: 600px;

		h2 {
			font-size: 40px;
		}

		.header {
			border-radius: 0;
			padding: 15px 0;
		}

		.welcome-message {
			float: none;
			margin: auto;
			width: 94.5%;
		}
	}

	.remaining-tasks-container .remaining-tasks-count {
		border-radius: 0;
		font-weight: bold;
		margin: 0;

		&:hover {
			font-size: 14px;
		}
	}

	.task-container {
		padding: 0;
	}

	.task-list {
		margin-right: 5%;
	}
}

/* Extras compass */

.aui .todo-portlet {
	input[type="text"].input-item, .btn.add-task  {
		@include transition(font-size 1s);
	}
}

@include respond-to(phone) {
	.aui .todo-portlet {
		input[type="text"].input-item {
			@include transition(none);
		}
	}
}

.todo-portlet {
	.counter {
		@include transition(font-size 1s);
	}

	.form-container {
		form input, select, textarea {
			@include transition(font-size 1s);
		}
	}

	.remaining-tasks-container .remaining-tasks-count {
		@include transition(font-size 1s);
	}

	.task-list li {
		@include transition(all 1s ease-out);
	}
}

@include respond-to(phone) {
	.counter {
		@include transition(none);
	}

	.form-container {
		form input, select, textarea {
			@include transition(none);
		}
	}

	.task-list li {
		@include transition(none);
	}

	.remaining-tasks-container .remaining-tasks-count {
		@include transition(none);
	}
}