.todo-portlet {
	.list-container h2{
		font-size: 40px;
		text-transform: uppercase;
	}
	.counter {
		font-weight: bold;
		margin-left: 1%;
	}

	.task-container .task {
		border: 1px solid #CCC;
		border-radius: 10px;
		box-sizing: border-box;
		float: left;
		font-size: 16px;
		height: 18px;
		margin: auto;
		padding-bottom: 20px;
		padding-top: 20px;
		width: 87%;
	}

	.task-label {
		background-color: #008CBA;
		border-radius: 10px;
		color: #FFF;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		margin-left: 8px;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 7%;

		&:hover {
			background-color: #BBB;
		}
	}
}