/* Overridden aui tags
*/

.aui .todo-portlet input[type="text"].input-item {
	border: 1px solid #CCC;
	border-radius: 10px;
	box-sizing: content-box;
	float: left;
	font-size: 16px;
	height: 18px;
	margin: auto;
	padding: 10px 0 10px 1%;
	width: 85%;
}

.aui .todo-portlet .btn.add-task {
	background-color: royalblue;
	background-image: none;
	border-radius: 10px;
	border-width: 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-top: -25px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	width: 11%;

	&:hover {
		background-color: #BBB;
	}
}

/* Responsive overridden aui tags
	************************************************************/
/* 600px
************************************************************/

@media screen and (max-width: 600px) {
	.aui .todo-portlet input[type="text"].input-item {
		border-radius: 0;
		width: 98.5%;
	}

	.aui .todo-portlet .btn.add-task  {
		border-radius: 0;
		margin: 0;
		width: 100%;
	}
}

/* Todo portlet */

.todo-portlet {
	.counter {
		font-weight: bold;
		margin-left: 1%;
	}

	.finished-task {
		li {
			background-color: #FF6B68;
			border-radius: 10px;
			color: white;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			padding: 8px 8px 8px 8px;
		}

		button {
			background: #FF6B68;
			border-radius: 5px;
			border-width: 0;
			color: white;
			float: right;
			padding: 0 4px 4px 4px;
			top: 0;

			&:hover {
				background-color: #757C87;
			}
		}
	}

	.delete-task {
		background: #E1E6EF;
		border-width: 0;
		color: white;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			background-color: #757C87;
			}
		}

	.list-container {
		margin: auto;
		max-width: 900px;

		h2 {
			font-size: 60px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.line-separator {
		background: #C7CED8;
		height: 1px;
		margin-bottom: 8px;
		overflow: hidden;
		width: 100%;
	}

	.task-list {
		margin-left: 0;

		li {
			background: #1A53AF;
			border-radius: 10px;
			color: white;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			padding: 8px 0 8px 8px;
			position: relative;
			transition: 0.2s;
			user-select: none;

			&:nth-child(odd) {
				background: #93D5FF;
			}
		}
	}

	/* Responsive
	************************************************************/
	/* 979px
	************************************************************/

	@media screen and (max-width: 979px) {
		.delete-task {
			border-radius: 10px;
			font-size: 17.5px;
			padding: 11px 12px;
			width: 7%;
		}
	}

	/* Max width 768px
	************************************************************/

	@media screen and (max-width: 768px) {
		.delete-task {
			width: 7%;
		}
	}

	/* 600px
	************************************************************/

	@media screen and (max-width: 600px) {
		.list-container {
			h2 {
				font-size: 40px;
			}
		}

		.task-list {
			margin-right: 5%;
		}

		.delete-task {
			width: 10%;
		}

		.task-list, .finished-task {
			width: 100%;
		}

		.task-list li, .finished-task li, .delete-task {
			border-radius: 0;
		}

		.counter {
			font-weight: bold;
		}
	}

	/* Max width 400px
	************************************************************/

	@media screen and (max-width: 400px) {
		.delete-task {
			padding-right: 3%;
		}
	}
}