/* Overridden aui tags
*/

.aui .todo-portlet {
	input[type="text"].input-item {
		border: 1px solid #CCC;
		border-radius: 10px;
		box-sizing: content-box;
		float: left;
		font-size: 16px;
		height: 18px;
		margin: auto;
		padding: 10px 0 10px 1%;
		transition: font-size 1s;
		width: 85%;

		&:hover {
			font-size: 18px;
		}
	}

	.btn.add-task {
		background-color: royalblue;
		background-image: none;
		border-radius: 10px;
		border-width: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		margin-bottom: 10px;
		margin-left: 3px;
		margin-top: -25px;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		text-decoration: none;
		transition: font-size 1s;
		width: 11%;

		&:hover {
			background-color: #BBB;
			font-size: 18px;
		}
	}
}

/* Responsive overridden aui tags
	************************************************************/

/* Max width 768px
	************************************************************/

@media screen and (max-width: 768px) {
	.aui .todo-portlet {
		input[type="text"].input-item {
			width: 84%;
		}

		.btn.add-task {
			width: 14%;
		}
	}
}

/* 600px
************************************************************/

@media screen and (max-width: 600px) {
	.aui .todo-portlet {
		input[type="text"].input-item {
			border-radius: 0;
			transition: none;
			width: 98.5%;

			&:hover {
				font-size: 16px;
			}
		}

		.btn.add-task {
			border-radius: 0;
			margin: 0 0 10px 0;
			transition: none;
			width: 100%;

			&:hover {
				font-size: 16px;
			}
		}
	}
}

/* 400px
************************************************************/

@media screen and (max-width: 400px) {
	.aui .todo-portlet {
		.btn.add-task {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

/* Todo portlet */

.todo-portlet {
	.counter {
		background-color: royalblue;
		border-radius: 50%;
		color: #E1E6EF;
		font-weight: bold;
		margin: 8px 0 3px 3px;
		padding: 8px 8px 8px 8px;
		transition: font-size 1s;

		&:hover {
			font-size: 20px;
		}
	}

	.delete-task {
		background-color: #E1E6EF;
		border-width: 0;
		color: white;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			background-color: #757C87;
		}
	}

	.list-container {
		margin: auto;
		max-width: 900px;

		.header {
			background-color: royalblue;
			border-radius: 10px;
			color: white;
			padding: 20px 40px;
			text-align: center;
		}

		h2 {
			font-size: 60px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.task-list {
		margin-left: 0;
		margin-top: 8px;

		li {
			background-color: #1A53AF;
			border-radius: 10px;
			color: white;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			padding: 8px 0 8px 8px;
			position: relative;
			transition: 1s;
			user-select: none;

			&:nth-child(odd) {
				background-color: #93D5FF;
			}
		}
	}

	.finished-task {
		border-top: 1px solid #C7CED8;
		li {
			background-color: #FF6B68;
			border-radius: 10px;
			color: white;
			cursor: pointer;
			font-size: 16px;
			list-style-type: none;
			padding: 8px 8px 8px 8px;
		}

		button {
			background-color: #FF6B68;
			border-radius: 50%;
			border-width: 0;
			color: white;
			float: right;
			padding: 6px 10px 6px 10px;

			&:hover {
				background-color: #757C87;
			}
		}
	}

	/* Responsive
	************************************************************/
	/* 979px
	************************************************************/

	@media screen and (max-width: 979px) {
		.delete-task {
			border-radius: 10px;
			font-size: 17.5px;
			padding: 11px 11px;
			width: 7%;
		}

		.list-container {
			.header {
				padding: 20px 15px;
			}
		}
	}

	/* Max width 768px
	************************************************************/

	@media screen and (max-width: 768px) {
		.delete-task {
			width: 7%;
		}

		.list-container {
			.header {
				padding: 20px 10px;
			}
		}
	}

	/* 600px
	************************************************************/

	@media screen and (max-width: 600px) {
		.list-container {
			h2 {
				font-size: 40px;
			}

			.header {
				border-radius: 0;
				padding: 15px 0;
			}
		}

		.task-list {
			margin-right: 5%;
		}

		.delete-task {
			width: 10%;
		}

		.task-list, .finished-task {
			width: 100%;
		}

		.task-list li, .finished-task li, .finished-task button, .delete-task {
			border-radius: 0;
		}

		.finished-task button {
			padding: 4px 12px 10px 8px;
		}

		.counter {
			border-radius: 0;
			font-weight: bold;
			margin: 0;
			transition: none;

			&:hover {
				font-size: 14px;
			}
		}
	}

	/* Max width 406px
	************************************************************/

	@media screen and (max-width: 406px) {
		.list-container {
			.header {
				padding: 10px 0;
			}
		}

		.delete-task {
			font-size: 16px;
			padding-right: 10px;
		}

		.list-container {
			h2 {
				font-size: 30px;
			}
		}
	}

	/* Max width 320px
	************************************************************/

	@media screen and (max-width: 320px) {
		.delete-task {
			font-size: 16px;
			padding-right: 15px;
		}

		.list-container {
			font-size: 16px;

			h2 {
				font-size: 25px;
			}
		}
	}
}