*~
*-ext.properties
*.bak
*.class
*.ipr
*.iws
*.log
*.processed
*.swp
*.idea

.ant_targets
.ant-targets-build.xml
.gh.json
.sass-cache
.sass_cache_*.css
_sass_cache_*.css

**/.sonar
**/pmd-reports

**/sdk/*
!**/sdk/themes
**/sdk/themes/*.*
**/sdk/themes/*/docroot/css
**/sdk/themes/*/docroot/images
**/sdk/themes/*/docroot/fonts
**/sdk/themes/*/docroot/js
**/sdk/themes/*/docroot/layouttpl
**/sdk/themes/*/docroot/META-INF
**/sdk/themes/*/docroot/templates
**/sdk/themes/*/docroot/WEB-INF/lib

**/docroot/WEB-INF/tld/
.gradle/
.idea/
.sass-cache/
.settings/
bin/
build/
classes/
lib/
liferay-hook.xml.processed
node_modules/
npm-debug.log
test-classes/
test-coverage/
test-results/
tmp/

**/sdk/portlets/*/test/integration/arquillian.xml

!**/sdk/portlets/
**/sdk/portlets/*.*
!**/sdk/hooks/
**/sdk/hooks/*.*

!**/sdk/layouttpl/
**/sdk/layouttpl/*.*

**/classes

**/**/**/node_modules
.vscode