/* Initial body */
body {
  left: 0;
  margin: 0;
  position: relative;
  background-color: #eee;
  font-family: 'Helvetica Neue', sans-serif;
}
/* Initial menu */
.menu {
  background: #202024;
  left: -285px;  
  height: 100%;
  position: fixed;
  width: 285px;
}
.jumbotron {
  background-color: gray; 
  height: 100%;
  width: 100%;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}
.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  background-size: 80px 60px;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.icon-menu i {
  margin-right: 5px;
}
.container {
  width: 95%;
}
.btn{
  margin-bottom: 10px;
}
.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 10px;
}
.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.posts li{
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}
#contact_form {
  text-align: center;
  border-radius: 25px;
}
input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 60%;
    background-color: #145bce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #145bce;
}
#message{
  border-radius: 15px;
  width: 60%;
}
#input {
    width: 100%; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}
#myUL, #detailsUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#myUL li a, #detailsUL li {
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    color: black; 
    display: block; 
}
#myUL li a:hover:not(.header) {
    background-color: #eee; 
}
#detailsUL li:hover {
    background-color: #eee; 
  }
#georgeLi, #halleyLi, #adeleLi, #agnesLi, #billyLi, #johnDetails, #annaDetails, #peteDetails{
  padding-left: 35px;
}
.close {
    padding-right: 15px;
}
.container {
  padding-bottom: 25px;
}
/* width: 1000px */
@media screen and (min-width: 480px) and (max-width: 1000px){
  body{
    font-size: 2em;
  }
  .icon-menu {
    font-size: 1.3em;
  }
  .menu a {
    font-size: 1.3em;
  }
  .menu ul {
    border-top: 5px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* x button */
  .close {
    font-size: 2.5rem;
  }
  .posts{
    font-size: 2rem;
  }
  .container {
    width: 90%;
  }
.menu
  .menu li {
    border-bottom: 5px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 65px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-top: 6px;
  }
  .status-box{
    font-size: 2rem;
  }
  .button-group{
    width: 40%;
  }
  #postButton{
    width: 70%;
  }
  .btn {
    width: 49%;
    font-size: 2rem;
  }
  .btn-info{
    width: 25%;
  }
  #message{
    border-radius: 25px;
    width: 100%;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  input[type=submit] {
      width: 100%;
      background-color: #145bce;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 15px;
      cursor: pointer;
  }
  h3{
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px){
  body{
    font-size: 2.5rem;
  }
  .icon-menu {
    font-size: 2.5rem;
  }
  .menu a {
    font-size: 2.5rem;
  }
  .menu ul {
    border-top: 5px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* x button */
  .close {
    font-size: 2.5rem;
  }
  .menu li {
    border-bottom: 5px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 65px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-top: 6px;
  }
  .status-box{
    font-size: 2.5rem;
  }
  .button-group{
    width: 40%;
  }
  .btn {
    width: 100%;
    font-size: 2.5rem;
  }
  .btn-info{
    width: 50%;
  }
  #message{
    border-radius: 25px;
    width: 100%;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  input[type=submit] {
      width: 100%;
      background-color: #145bce;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 15px;
      cursor: pointer;
  }
  h3{
    font-size: 30px;
  }
}
