$darkyellow: #FFBC42;

.artist {
	display: inline-block;
	margin: 10px 10px 0 10px;
}

.artist-name {
	text-transform: uppercase;
}

.artist-album, .artist-name {
	font-size: 12px;
	text-align: left;
}

.artist-picture {
	background-position: top;
	background-size: cover;
	height: 150px;
	position: relative;
	width: 150px;

	&:hover {
		opacity: 0.7;

		.play-button {
			display: block;
		}
	}
}

.container-fluid {
	background: url(../images/front.jpg) no-repeat center top;
	background-size: cover;
	height: 800px;
}

.front-div {
	margin: 300px auto 0 auto;
	max-width: 1000px;
}

.front-page-content-hide {
	display: none;
}

.more-info-td {
	padding: 0;
}

.more-info-wrapper {
	border-radius: 3px;
	border-style: solid;
	display: inline-block;
	height: auto;
	margin: 10px 0;
	padding: 3px;
	text-align: center;
	width: 80px;

	&:hover {
		opacity: 0.7;
	}
}

.play-button {
	bottom: 0;
	display: none;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

.search-container {
	align-items: flex-start;
	display: flex;
	margin: 50px 0;
}

.search-result-hide {
	min-height: 500px;
}

.tracks-inner {
	margin-bottom: 20px;
	text-align: center;
}

@media only screen and (max-width: 1200px) {
	.container-fluid {
		height: 600px;
	}

	.front-div {
		margin-top: 120px;
	}
}

@media only screen and (max-width: 800px) {
	.account-wrapper {
		border-color: $darkyellow;

		&:hover {
			opacity: 0.8;
		}
	}

	.artist-picture {
		height: 120px;
		width: 120px;
	}

	.content {
		margin: 0 10px;
	}

	.front-div {
		margin-top: 120px;
	}
}

@media only screen and (max-width: 600px) {
	.container-fluid {
		height: 400px;
	}

	.front-div {
		margin-top: 80px;
	}

	.more-info-wrapper {
		width: 50px;
	}
}

@media only screen and (max-width: 400px) {
	.artist {
		margin: 5px 5px 0 5px;
	}

	.container-fluid {
		height: 350px;
	}

	.tour-name {
		display: none;
	}
}