#crud {
	background-color: #FFEB3B;
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
}

#crud > .container {
	padding: 16px 0;
}

#crud a {
	align-items: center;
	background-color: #FFF;
	border-radius: 3px;
	border-width: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #555;
	display: flex;
	font-family: Roboto;
	font-size: 1.2em;
	justify-content: flex-start;
	margin-bottom: 16px;
	padding: 24px;
	text-decoration: none;
	transition: all 0.3s ease;
	width: 100%;
}

#crud a:last-child {
	margin-bottom: 0;
}

#crud a:hover,
#crud a:focus {
	background-color: #555;
	color: #FFF;
	outline-width: 0;
}

#crud svg {
	margin-right: 24px;
}

.product-form {
	background-color: #EEE;
	height: auto;
	margin-top: 0;
	width: 100%;
}

.product-form > .container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.product-form input {
	background-color: transparent;
	border-bottom-color: #CECECE;
}

.product-form li {
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	list-style: none;
	margin-bottom: 8px;
	padding: 8px 16px;
}

.product-form li:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	#products > main > .container {
		flex: initial;
		padding: 24px 0;
	}

	#crud {
		align-items: center;
		justify-content: center;
	}

	#crud > .container {
		width: 75%;
	}
}

@media screen and (min-width: 1280px) {
	#crud > .container {
		width: 50%;
	}
}