body{
    background-color: #e8ecef;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.button {
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover{
    background-color: #06683a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.reset:hover{
    background-color: #7c151d;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.reset{
	background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#calculator{
    text-align: center;
    margin: auto;
	font-size: 60px;
    width: 440px;
    height: 70px;
    color: white;
    background: #4CAF50;
    border-radius: 10px;
    transition: width 2s, height 2s, font-size 2s;
}

#calculator:hover{
    width: 650px;
    height: 100px;
    font-size: 90px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

#numbers,#res, #result, #pi, #salary, #tax, #converter{
	font-size: 30px;
}

#piResult, #taxResult{
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-sizing : border-box;  
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 17px;
    box-sizing : border-box;
}

input[type=text]:focus {
    background-color: #646663;
    border: 3px solid #555;
}

form[name=converter] {
	text-align: center;
	width: 500px;
    margin: 0 auto;
}

.page-row {
  display: table-row;
  float: right;
  font-size: 20px;
}