@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300,700&subset=latin-ext');

/* Resets and Layout */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	height: 100%;
	line-height: 1.35;
	min-height: 100vh;
}

body {
	background-color: #FFF;
	height: auto;
	min-height: 100%;
	position: relative;
}

.container {
	max-width: 1280px;
	padding: 16px;
	width: 100%;
}

/* Typography */

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
	margin-bottom: 16px;
}

p, a, li, span {
	color: #333;
	font-family: Roboto Slab;
	font-size: 1em;
	line-height: 1.25em;
}

textarea {
	height: 200px;
}

main {
	display: flex;
	flex-direction: column;
	padding: 64px 0;
	width: 100%;
}

/* Header */

#site-header, #site-footer  {
	align-items: center;
	background-color: #8E44AD;
	display: flex;
	justify-content: center;
	width: 100%;
}

#site-footer {
	background-color: #22313F;
	bottom: 0;
	position: absolute;
}

#site-header .container {
	position: relative;
	padding: 0;
}

#site-nav {
	display: flex;
	padding-left: 32px;
	z-index: 1;
}

#site-nav a {
	border-bottom: 3px solid transparent;
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
	margin-right: 32px;
	padding: 16px;
	text-decoration: none;
	text-transform: uppercase;
}

#site-nav a:hover {
	border-bottom-color: #FFF;
	color: #FFF;
}

#burger-open {
	display: none;
}

#burger-close {
	display: none;
}

/* Content */

/** Products subpages **/

.backlink {
	align-items: center;
	background-color: #00bcd4;
	color: #FFF;
	display: flex;
	justify-content: flex-start;
	padding: 16px;
	text-decoration: none;
	width: 100%;
}

.backlink svg {
	margin-right: 8px;
}

/** Forms **/
form {
	flex: 1;
}

form > .container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

form label {
	font-weight: 700;
	padding-bottom: 8px;
}

input, textarea, select, option {
	border-width: 0;
	border-bottom: 1px solid #EEE;
	font-family: Roboto;
	font-size: 1em;
	margin-bottom: 24px;
	padding: 8px;
	resize: vertical;
	transition: all 0.3s ease;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
	border-bottom-color: #8E44AD;
	outline-width: 0;
}

input[type="submit"] {
	background-color: #8E44AD;
	border-radius: 3px;
	color: #FFF;
	margin-bottom: 8px;
	padding: 16px;
}

.form-success {
	background-color: #00bcd4;
	border-radius: 3px;
	color: #FFF;
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
	padding: 8px 16px;
}

/* Footer */

#site-footer p {
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.9em;
}

@media screen and (max-width: 1024px) {
	/* Typography */
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	#site-nav {
		padding-left: 0;
	}

	#site-nav a {
		flex: 1;
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	body > main > .container {
		align-items: center;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: initial !important;
	}

	main {
		padding: 0;
		min-height: calc(100vh - 121px);
	}

	.container {
		padding: 24px 16px;
	}

	form {
		background-color: #EEE;
		display: flex;
		flex: 1;
		margin-top: 24px;
		justify-content: center;
		padding: 24px;
		width: 100%;
	}

	form > .container {
		flex: initial;
		padding: 0;
		width: 50%;
	}
}

@media screen and (min-width: 1280px) {
	main {
		align-items: center;
	}

	main > .container {
		background-color: initial;
	}

	form {
		background-color: #FFF;
	}
}

@media screen and (max-width: 480px) {
	/* Typography */
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.625em;
	}

	h3 {
		font-size: 1.375em;
	}

	input, textarea, select {
		font-size: 1.2em;
	}

	option {
		font-size: 1em;
	}

	/* Layout */

	main {
		min-height: calc(100vh - 106px);
		padding: 0;
	}

	main > .container {
		flex: 1;
	}

	textarea {
		height: 100px;
	}

	/* Header */

	#site-header .container {
		padding: 16px;
	}

	#burger-open {
		display: flex;
	}

	#site-nav {
		background-color: #8E44AD;
		flex-direction: column;
		left: 0;
		opacity: 0;
		padding-left: 0;
		position: absolute;
		transform: translateY(-118%);
		transition: all 0.3s cubic-bezier(1,-0.09, 0, 1.37);
		visibility: hidden;
		width: 100%;
	}

	#site-nav.open {
		opacity: 1;
		transform: translateY(7%);
		visibility: visible;
	}

	#site-nav a {
		border-bottom: 1px solid #9B59B6;
		margin-right: 0;
		padding-left: 24px;
		text-align: left;
	}

	#site-nav a:hover {
		border-bottom-color: #EEE;
	}
}