#landing-section {
  background-color: $white;
  height: 100vh;
  position: relative;

  h1, small {
    font-family: Raleway;
    text-align: center;
    font-weight: 300;
    color: $white;
    text-shadow: 0 1px 1px #333;
  }
}

#left-landing {
  width: 40%;
  padding: 20px;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  small {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0 60px;
  }

  .btn {
    display: block;
    text-align: center;
    padding: 20px 30px;
    background-color: $white;
    width: inherit;
    margin: 0 auto;
    box-shadow: $box-s;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 300;
    border-radius: 3px;
    color: $text;
  }

}

#right-landing {
  width: 60%;
  padding: 40px;
  background-color: white;
}

.title-row {

  #avatar {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-image: url('../img/avatar.jpg');
    background-size: cover;
    background-position: center;
  }

  h2 {
    padding: 40px 0;
  }
}


.arrow-left {
  position: absolute;;
  right: 60%;
  top: 35%;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 40px solid white;
}
