@import "bourbon";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');

$accent_negative: #F44336;
$accent_positive: #2ECC71;
$primary_dark: #333;
$primary_light: #EAEAEA;

.monitor-singular {
	.content-container {
		align-items: center;
		color: $primary_light;
		display: flex;
		flex-direction: column;
		font-family: Roboto, sans-serif;
		font-weight: 700;
		justify-content: center;
	}

	.server-data-container {
		border-bottom: 1px solid #444;
	}

	.server-count {
		font-size: 146px;
		margin: 0;
	}

	.server-count-difference {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
	}

	.difference-amount {
		font-size: 55px;
		margin: 0;
	}

	.difference-arrow {
		margin: 0;
	}

	.difference-positive {
		color: $accent_positive;
	}

	.difference-negative {
		color: $accent_negative;
		order: 2;

		& + span {
			order: 1;
		}
	}

	.server-message {
		background-color: $accent_positive;
		border-radius: 3px;
		box-shadow: 0 2px 5px rgba(#000, 0.6);
		color: $primary_light;
		font-size: 20px;
		font-weight: 400;
		opacity: 0;
		padding: 16px 24px;
		transform: scale(0.8) translateY(20px);
		transition: ease 0.3s;

		&.enhanced {
			opacity: 1;
			transform: scale(1) translateY(0);
		}
	}
}