html {
  font-size: 17px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: Montserrat;
  font-weight: bold;
}

p {
  font-family: Raleway;
}

h1, h2, h3, p, span, li {
  color: $text;
  line-height: 1.4;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
