@import url('https://fonts.googleapis.com/css?family=Karma:300,400,700|Gruppo|Raleway:300,400,500,600,700,800,900&subset=latin-ext');

// Colors
$dark: #424242;
$red: #F44336;
$green: #00B6B7;
$grey: #BDBDBD;
$light: #F5F5F5;
$lightBlue: #038AB5;
$blue: #005B96;
$silver: #009DB7;
$bigShadow: 0 2px 4px rgba(#333, 0.3);
$smallShadow: 0 1px 2px rgba(#333, 0.3);
$gradient: linear-gradient(to right, #005b96 0%,#038ab5 54%,#00b6b7 100%);

* {
    box-sizing: border-box;
}

#perzej {
    height: 100%;

body {
    height: 100%;
}

/* Overrides
************************************************************/

h1, h3, h3, p, a, li, input, textarea {
    color: $dark;
    font-family: Karma, sans-serif;
    margin: 0;
    text-decoration: none;
}

h1, h2, h3, label, input[type="submit"] {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: $grey;
}

p, a, li, span {
    font-weight: 300;
    line-height: 1.4;
}

.navbar-inner .dropdown-menu * {
    font-size: 1em;
    color: $dark;
}

#_145_dockbarbodyContent, #_145_navAccountControls {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#_2_WAR_notificationsportlet_userNotificationsCount {
    border-width: 0;
    border-radius: 2px;
    box-shadow: $smallShadow;
    color: #FFF;
}

#sign-in {
    border: 2px solid rgba(#FFF, 0.7);
    border-radius: 2px;
    color: rgba(#FFF, 0.7);
    font-size: 1.3em;
    padding: 8px 24px;
    transition: 0.15s ease;

&:hover {
     background-color: #FFF;
     border-color: #FFF;
     color: $blue;
     transition: 0.15s ease;
 }
}

.lfr-meta-actions {
span {
    color: $light;
    padding-right: 8px;

&:last-child {
     padding-right: 0;
 }
}
}

.columns-max {
    width: 1280px;
    margin: 64px auto;
}

/* Layout
************************************************************/

#wrapper {
    padding: 0;
    position: relative;
}

#heading, .powered-by {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

/* Header
************************************************************/

#banner {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

#heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 16px 0;
    position: absolute;
    width: 100%;
}

/* Hero
************************************************************/

#hero {
    align-items: center;
    background-image: linear-gradient(
            rgba(#333, 0.5),
            rgba(#333, 0.5)
    ), url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 60vh;
    justify-content: center;
    width: 100%;
}

span.site-name {
    color: $light;
    font-family: 'Gruppo', cursive;
    font-size: 5em;
    text-transform: uppercase;
}

/* Content
************************************************************/

#content {
    flex: 1;
    flex-direction: column;
    margin-bottom: 71px;

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
}

.portlet-title {
    display: none;
}

.portlet-content {
    padding: 0;
}

.section {
    padding: 64px 0;

img {
    width: 30%;
}

.section-heading {
    color: $green;
    font-size: 2.5em;
    padding-bottom: 32px;
    text-transform: uppercase;
}
}
}

.section_column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;

p {
    font-size: 1.6em;
}
}

// Liferay Section

   #about-liferay {

.container {
    justify-content: space-between;
}

.section_column {
    padding-right:48px;
}
}

#liferay-img {
    background-image: url(../images/liferay-logo_text.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
    height: 100px;
}

// LCS Section

   #about-lcs {
       background-color: $light;

svg {
    width: 32%;
}

.section_column {
    padding-left: 48px;
    width: 60%;
}
}

// Tech Stack Section

   #tech-stack.section {
       background: $gradient;

.container {
    flex-wrap: wrap;
}

img {
    padding-bottom: 64px;
    padding-right: 64px;
    height: auto;
    text-align: center;
    width: 220px;

&:nth-child(5n) {
     padding-right: 0;
 }

&:nth-child(n+6) {
     padding-bottom: 0;
 }
}
}

// Contact Section

   #contact-location.section {
       align-items: center;
       background-color: #FFF;
       display: flex;
       justify-content: center;
       padding: 0;
   }

#contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    width: 50%;

#contact-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    width: 70%;
}

label {
    color: $green;
    font-size: 1.2em;
    font-weight: 300;
    padding-bottom: 8px;
    padding-left: 8px;
    text-transform: uppercase;
    width: 100%;
}

input, textarea {
    background-color: #FFF;
    border: none;
    border-bottom: 2px solid $light;
    box-shadow: none;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 24px;
    padding: 16px;
    resize: none;
    width: 100%;

&:focus {
     border-color: transparent;
     border-image: $gradient;
     border-image-slice: 1;
 }
}

input[type="email"] {
    height: 48px;
}

input[type="submit"] {
    background: #FFF;
    border: 2px solid $light;
    border-radius: 3px;
    color: $green;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 50%;

&:hover {
     background: $gradient;
     border-color: #FFF;
     color: #FFF;
 }
}
}

#location {
    align-self: stretch;
    background-image: url(../images/location.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

/* Footer
************************************************************/

#footer {
    align-self: flex-end;
    background-color: $dark;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    position: absolute;
    width: 100%;
}

p.powered-by {
    color: $light;
    display: block;
    font-size: 1.2em;

a {
    color: $light;
    transition: 0.15s ease;

:hover {
    color: #FFF;
    transition: 0.15s ease;
}
}
}

/* Responsive
************************************************************/
/* 1280px
************************************************************/

@media screen and (max-width: 1280px) {
    #banner, #content, #footer {
        max-width: 1024px;
        width: 100%;
    }
}

/* 768px
************************************************************/

@media screen and (max-width: 768px) {
    #banner, #content, #footer {
        width: 100%;
    }

    #content {
        margin-bottom: 55px;
    }

    #heading {
        padding: 16px;
    }

    .section_column {
        width: 50%;
    }

    .container {
        padding: 0 24px;
    }

    #about-liferay {
    .section_column {
        padding-right: 0;
    }
}

#liferay-img {
    background-image: url(../images/liferay-logo_img.png);
    height: 290px;
    width: 40%;
}

#tech-stack.section {
img {
    width: 20%;
    padding-bottom: 24px;
    padding-right: 24px;

&:nth-child(3n) {
     padding-right: 0;
 }

&:nth-child(5n) {
     padding-right: 24px;
 }
}
}

#contact-location {
    flex-direction: column;
}

#contact {
    width: 100%;

#contact-form {
    width: 100%;
}

textarea {
    height: 150px;
}
}

#location {
    width: 100%;
    height: 350px;
}

#footer {
    padding: 16px;

.powered-by {
    line-height: 1;
}
}
}

/*480px
************************************************************/

@media screen and (max-width: 480px) {

    .yui3-skin-sam {
        padding: 0;
    }

    #heading {
        padding: 16px;
    }

    #sign-in {
        display: none;
    }

    .site-title {
        font-size: 0;
    }

    #hero {
        height: 80vh;
    }

    #content {
        margin-bottom: 55px;

    .section {
        padding: 32px 16px;

    .section_column {
        width: 100%;

    p {
        font-weight: 300;
        font-size: 1.5em;
    }
}
}

#about-liferay, #about-lcs {
    position: relative;

.section-heading {
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 24px;
}

.section_column {
    padding: 0;
    z-index: 1;
}

.container {
    flex-direction: column;
}
}

#about-liferay {

img {
    height: 64px;
    padding-bottom: 24px;
    order: 1;
    width: auto !important;
}

.section_column {
    order: 2;
}
}

#liferay-img {
    background-image: url(../images/liferay-logo_img.png);
    margin-bottom: 24px;
    width: 26%;
}

#about-lcs {
svg {
    height: 128px;
    padding-bottom: 24px;
    width: auto;
}
}

#tech-stack {

.container {
    flex-wrap: wrap;
}

img {
    width: 18%;
    height: auto;
    padding-right: 16px;
}
}

#contact-location.section {
    padding: 0;
    flex-direction: column;
}

#contact {
    background-color: #FFF;
    padding: 32px 16px;
    width: 100%;

#contact-form {
    width: 100%;

label {
    font-weight: 300;
}

input, textarea {
    border-radius: 0;
    box-shadow: none;
    font-weight: 300;
    max-width: 100% !important;
}

input[type="email"], textarea {
    border-bottom: 1px solid $light;
    font-size: 1.4em;
    padding: 8px;

&:focus {
     border-bottom: 2px solid $blue;
     transition: 0.01s ease;
 }
}

input[type="submit"] {
    border: 1px solid $light;
}

textarea {
    height: 128px;
}
}
}

#location {
    height: 300px;
    width: 100%;
    background-size: 200%;
}
}

#footer {
    padding: 16px;
}
}
}
