body {
  	left: 0;
  	margin: 0;
  	position: relative;
  	font-size: 2em;
  	padding-left: 25px;
  	padding-right: 25px;
  	padding-bottom: 25px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: #e8edf7;
}
/* Side navigation */
#sideNav a {
    position: fixed;
    font-size: 1.6em; 
    left: -120px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 140px; 
    text-decoration: none; 
    font-size: 18px; 
    color: white; 
    border-radius: 0 5px 5px 0; 
}
#sideNav a:hover {
    left: 0; 
}
#indexTab {
    top: 40px;
    background-color: #4CAF50;
}
#flightsTab {
    top: 100px;
    background-color: #2196F3; 
}
#companies {
    top: 160px;
    background-color: #f44336; 
    right: 80px;
}
#contact {
    top: 220px;
    background-color: #555 
}
h1{
    text-align: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
/*Airports Page*/
.flex-container{
    display: -webkit-flex;
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 120px;
    width: 86%;
    height: 100%;
    font-size: 1.5rem;
    border-radius: 8px;
}
.flex-item {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    width: 32%;
    height: 350px;
    margin: 10px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    color: #E4F1FE;
    background-color: #747992;
}
ul.respNav {
    position: absolute;
    top: -200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.respNav li {
    float: left;
}
ul.respNav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.respNav li a:hover {
    background-color: #555;
}
ul.respNav li.icon {
    display: none;
}
@media screen and (max-width: 1200px){
    #sideNav a {
        position: absolute;
        font-size: 1.6em; 
        left: -200px;  
    }
    ul.respNav {
        position: relative;
        top:0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    ul.respNav li {
        float: left;
    }
    ul.respNav li a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    ul.respNav li a:hover {
        background-color: #555;
    }
    ul.respNav li.icon {
        display: none;
    }
    ul.respNav li:not(:first-child) {display: none;}
    ul.respNav li.icon {
        float: right;
        display: inline-block;
    }
    ul.respNav.responsive {position: relative;}
    ul.respNav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.respNav.responsive li {
        float: none;
        display: inline;
    }
    ul.respNav.responsive li a {
        display: block;
        text-align: left;
    }   
    .flex-container{
        display: block;
        font-size: 1.8rem;
        margin-left: 60px;
    }
    .flex-item {
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 2rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 1000px){
    .flex-container{
        display: block;
        font-size: 1.8rem;
        margin-left: 40px;
    }
    .flex-item {
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 2rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 480px){
    .flex-container{
        margin-left: 20px;
    }
}
