$darkgray: #A9A9A9;
$dimgray: #696969;
$gainsboro: #DCDCDC;
$white: #FFF;

.aui {
	a {
		color: $darkgray;

		&:hover {
			color: $dimgray;
			text-decoration: none;
		}
	}

	h1 {
		margin: 0;
		margin-bottom: 50px;
	}

	ul {
		margin: 0;
	}

	.dockbar .navbar-inner {
		background-color: transparent;
	}

	.nav {
		margin: 0;
	}

	.nav-collapse .nav {
		margin: 0;
	}
}

.container-fluid {
	margin: 20px 80px;
}

.navbar-inner {
	background-color: transparent;
}

.navigation {
	border: 1px solid $darkgray;
	border-width: 1px 0;
	position: relative;
	text-align: center;
	z-index: 1;

	ul li {
		display: inline-block;
		margin: 10px 40px;
	}
}

.portlet-dockbar {
	background-color: $white;
	float: right;
	margin-right: 100px;
	width: 200px;
}

.site-name {
	color: $darkgray;
	font-size: 18px;
}

.user-avatar-link {
	width: 100px;
}

@media only screen and (max-width: 1200px) {
	.navigation ul li {
		margin: 10px 30px;
	}
}

@media only screen and (max-width: 979px) {
	.aui .dockbar .navbar-inner {
		float: right;
		padding: 0;
		width: 50px;

		.container {
			.nav-account-controls {
				background-color: $gainsboro;
			}

			.btn.btn-navbar:first-child {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.navigation ul li {
		margin: 10px 20px;
	}
}

@media only screen and (max-width: 600px) {
	.navigation ul li {
		margin: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.container-fluid {
		margin: 20px;
	}

	.portlet-dockbar {
		margin-right: 40px;
	}
}

@media only screen and (max-width: 400px) {
	.container-fluid {
		margin: 10px;
	}

	.navigation ul li {
		margin: 10px 6px;
	}
}