$black: #000;
$darkyellow: #FFBC42;

table {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

tr {
	border-bottom: 1px solid $black;
	border-top: 1px solid $black;
	text-align: left;
}

.aui {
	a {
		color: $black;

		&:hover {
			text-decoration: none;
		}
	}

	body {
		padding: 0;
	}

	form {
		align-items: flex-start;
		display: flex;
		margin: 50px 0;
	}

	input[type="text"] {
		font-size: 14px;
		height: 20px;
		margin: 0;
		opacity: 0.7;
		padding: 8px 6px;
		width: 387px;

		&:hover {
			opacity: 0.8;
		}
	}

	h1 {
		line-height: 20px;
	}

	h2 {
		font-size: 60px;
		line-height: 60px;
		margin: 350px 0 20px 0;
	}

	h3 {
		text-align: center;
	}

	.btn {
		background: $darkyellow;
		font-size: 14px;
		margin: 0;
		opacity: 0.9;
		padding: 8px;
		width: 100px;

		&:hover {
			background: $darkyellow;
			opacity: 1;
		}
	}

	.fieldset {
		width: 400px;
	}
}

.accountdiv {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}

.accountlink {
	position: relative;
}

.accountwrapper, .moreinfowrapper {
	border-radius: 3px;
	border-style: solid;
	display: inline-block;
	height: auto;
	padding: 3px;
	text-align: center;
	width: 100px;

	&:hover {
		opacity: 0.7;
	}
}

.footer {
	font-size: 12px;
}

.logo {
	width: 20px;
}

.site-name {
	font-size: 16px;
}

.site-title {
	position: absolute;
}

@media only screen and (max-width: 1200px) {
	.aui {
		.fieldset {
			width: 300px;
		}

		input[type="text"] {
			width: 287px;
		}

		h2 {
			font-size: 50px;
			margin-top: 250px;
		}
	}
}

@media only screen and (max-width: 1040px) {
	.aui h2 {
		width: 700px;
	}
}

@media only screen and (max-width: 800px) {
	.aui {
		a {
			color: $darkyellow;
		}

		h2 {
			font-size: 45px;
			width: 500px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.aui {
		h2 {
			font-size: 40px;
			margin-top: 100px;
			width: 360px;
		}
	}
}

@media only screen and (max-width: 400px) {
	td {
		font-size: 12px;
	}

	.aui {
		h2 {
			font-size: 30px;
			line-height: 40px;
			width: 300px;
		}

		input {
			width: 207px;
		}

		.fieldset {
			width: 220px;
		}
	}
}