$black: #000;
$darkyellow: #FFBC42;
$gray: #D3D3D3;

table {
	margin: 30px auto;
}

td {
	padding-right: 40px;
}

tr {
	border-bottom: 1px solid $black;
	border-top: 1px solid $black;
	text-align: left;
}

.aui {
	a {
		color: $black;

		&:hover {
			text-decoration: none;
		}
	}

	body {
		padding: 0;
	}

	input[type="text"] {
		font-size: 14px;
		height: 20px;
		margin: 0;
		opacity: 0.7;
		padding: 8px 6px;
		width: 387px;

		&:hover {
			opacity: 0.8;
		}
	}

	h1 {
		line-height: 20px;
	}

	h2 {
		color: $black;
		font-size: 50px;
		line-height: 60px;
		margin: 350px 0 20px 0;
	}

	h3 {
		text-align: center;
	}

	.fieldset {
		width: 400px;
	}
}

.account-div {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}

.account-link {
	position: relative;
}

.account-wrapper {
	border-radius: 3px;
	border-style: solid;
	display: inline-block;
	height: auto;
	padding: 3px;
	text-align: center;
	width: 100px;

	&:hover {
		opacity: 0.7;
	}
}

.block {
	border-top: 1px solid $gray;
}

.footer {
	font-size: 12px;
	min-height: 100px;
}

.logo {
	width: 20px;
}

.search-button {
	background-color: $darkyellow;
	font-size: 14px;
	margin: 0;
	opacity: 0.9;
	padding: 8px 16px;
	width: 100px;

	&:hover {
		opacity: 1;
	}
}

.search-result-artist {
	width: 250px;

	p {
		margin: 10px auto;
	}
}

.search-result-hide {
	display: none;
}

.search-result-show {
	display: block;
}

.search-result-title {
	margin: 10px auto;
	text-transform: uppercase;
	width: 200px;
}

.site-name {
	font-size: 16px;
}

.site-title {
	position: absolute;
}

@media only screen and (max-width: 1200px) {
	.aui {
		.fieldset {
			width: 300px;
		}

		h2 {
			margin-top: 250px;
			width: 700px;
		}

		input[type="text"] {
			width: 287px;
		}
	}
}

@media only screen and (max-width: 1000px) {
	td {
		padding-right: 30px;
	}

	.aui h2 {
		font-size: 45px;
		width: 500px;
	}
}

@media only screen and (max-width: 800px) {
	td {
		padding-right: 20px;
	}

	.account-link {
		color: $darkyellow;
	}
}

@media only screen and (max-width: 600px) {
	td {
		font-size: 12px;
	}

	.aui h2 {
		font-size: 40px;
		margin-top: 100px;
		width: 360px;
	}

	.search-result-artist {
		width: 180px;
	}
}

@media only screen and (max-width: 400px) {
	.aui {
		h2 {
			font-size: 30px;
			line-height: 40px;
			width: 300px;
		}

		input[type="text"] {
			width: 207px;
		}

		.fieldset {
			width: 220px;
		}
	}
}