@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Open+Sans:300,600|Roboto+Slab:300");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
}

html {
  background-color: #F4F8FF;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  line-height: 1.35;
  min-height: 100vh;
  overflow: hidden;
}

body {
  color: #333;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p, a, li, span {
  color: inherit;
  font-family: Roboto Slab, serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.45em;
  margin: 0;
}

a, li, span, label {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  line-height: 1.45em;
  font-weight: 600;
}

input, textarea {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  line-height: 1.45em;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 56px;
}

@media screen and (max-width: 480px) {
  html {
    height: auto;
    max-width: 100vw;
    width: 100vw;
  }
  body {
    width: 100vw;
  }
  #main {
    padding-top: 58px;
    width: 100vw;
  }
}

#header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F7AFF;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#header-menu-icon {
  cursor: pointer;
  padding: 16px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header-menu-icon:hover {
  color: #FFF;
}

#header-menu-icon.menu-icon-open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 4px;
}

#header-user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
}

#header-user-notification {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
}

#header-user-notification:hover {
  color: #FFF;
}

#header-user-notification::after {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFA726;
  border-radius: 50%;
  bottom: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  height: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 16px;
  position: absolute;
  width: 8px;
}

#notification-dropdown {
  background-color: #1F7AFF;
  border-bottom-left-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 56px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

#notification-dropdown.notifications-open {
  height: auto;
  opacity: 1;
  z-index: 1;
}

#notification-dropdown.notifications-open li {
  height: auto;
}

#notification-dropdown.notifications-open li:not(:last-child) {
  border-bottom-width: 1px;
}

#notification-dropdown li {
  border-bottom: 0 solid #5298ff;
  color: rgba(255, 255, 255, 0.7);
  height: 0;
}

#notification-dropdown li:last-child {
  border-bottom-left-radius: 3px;
}

#notification-dropdown li:hover {
  color: #FFF;
}

#notification-dropdown li:hover i {
  color: rgba(255, 255, 255, 0.7);
}

#notification-dropdown li i:hover {
  color: #FFF;
}

.notification-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  font-size: 1em;
}

.notification-info i {
  font-size: inherit;
}

.notification-info:not(.content) {
  font-size: 0.7em;
  font-weight: 300;
  padding: 4px 8px;
}

#header-user-image {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  margin: 0 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 40px;
}

#header-user-image:hover {
  border-color: #FFF;
}

#header-user-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#header-user-name i {
  padding-left: 4px;
}

#header-user-name:hover {
  color: #FFF;
}

#user-dropdown {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  opacity: 0;
  position: absolute;
  right: 16px;
  top: 72px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

#user-dropdown li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  opacity: 0;
  padding: 16px;
  z-index: inherit;
}

#user-dropdown li:hover {
  background-color: #F4F8FF;
  color: #333;
}

#user-dropdown li:hover:first-child {
  border-radius: 3px 3px 0 0;
}

#user-dropdown li:hover:last-child {
  border-radius: 0 0 3px 3px;
}

#user-dropdown li i {
  padding-right: 8px;
}

#user-dropdown.dropdown-active {
  height: auto;
  opacity: 1;
  z-index: 2;
}

#user-dropdown.dropdown-active li {
  height: auto;
  opacity: 1;
  z-index: inherit;
}

@media screen and (max-width: 480px) {
  #header {
    width: 100vw;
  }
  #header-menu-icon {
    display: none;
  }
  #header-title {
    padding: 16px;
    font-size: 1em;
  }
  #header-user {
    padding: 0;
  }
  #header-user-notification {
    line-height: 1;
    padding: 16px;
  }
  #header-user-notification:after {
    bottom: 36px;
    left: 32px;
  }
  #header-user-image {
    margin: 0 16px;
  }
  #header-user-name {
    display: none;
  }
  #notification-dropdown {
    cursor: initial;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    width: calc(100vw - 64px);
  }
  .notification-info {
    font-size: 0.8em;
  }
  .notification-info.content {
    padding: 4px 8px;
  }
  #user-dropdown {
    cursor: initial;
    right: 8px;
    top: 64px;
  }
  #user-dropdown li {
    padding: 8px;
    font-size: 1em;
    font-weight: 300;
  }
  #user-dropdown li i {
    font-size: 1.3em;
  }
}

#sidebar, #collapsed-sidebar {
  background-color: #F4F8FF;
  border-right: 1px solid #EEE;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 56px);
  position: fixed;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 320px;
  will-change: transform;
  z-index: 1;
}

.sidebar-open #sidebar {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#collapsed-sidebar {
  background-color: #FFF;
  -webkit-transform: translateX(-64px);
          transform: translateX(-64px);
  width: 64px;
}

#collapsed-sidebar li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  position: relative;
  -webkit-transition: all 0.15 ease;
  transition: all 0.15 ease;
}

#collapsed-sidebar li:hover {
  color: #333;
}

.sidebar-open #collapsed-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.collapsed-tooltip {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  cursor: default;
  font-size: 0.8em;
  left: 110%;
  opacity: 0;
  padding: 8px;
  position: absolute;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -9;
}

.collapsed-tooltip.tooltip-open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}

#sidebar-list a, #sidebar-list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#sidebar-list a:hover, #sidebar-list li:hover {
  color: #333;
}

#sidebar-list a i, #sidebar-list li i {
  padding-right: 16px;
}

#sidebar-environments-heading-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#sidebar-environments-heading-main i {
  padding-left: 8px;
  color: #BEBEBE;
  cursor: pointer;
}

#environments-info-tooltip {
  background-color: #FFF;
  border-radius: 3px;
  bottom: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  left: 42%;
  opacity: 0;
  position: absolute;
  text-transform: none;
  width: 256px;
  z-index: -1;
}

#environments-info-tooltip.tooltip-active {
  opacity: 1;
  z-index: 2;
}

#environments-info-tooltip p {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  padding: 16px;
}

.sidebar-environments-heading {
  color: #BEBEBE;
  padding: 16px 0 8px 0;
  text-align: center;
  text-transform: uppercase;
}

#sidebar-environments-list-new {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 16px 16px 16px;
  padding: 12px;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#sidebar-environments-list-new:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: #333;
  cursor: pointer;
}

#sidebar-environments-list-new i {
  padding-right: 16px;
}

.list-settings-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.list-settings-icon:hover {
  color: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#sidebar-environments-scrollable {
  border-top: 1px solid #EEE;
  max-height: calc(100vh - 56px - 356px);
  padding: 0 16px 16px 16px;
  overflow: hidden;
}

#sidebar-environments-scrollable:hover {
  overflow-y: overlay;
}

#sidebar-environments-scrollable::-webkit-scrollbar {
  width: 4px;
}

#sidebar-environments-scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

#sidebar-environments-scrollable::-webkit-scrollbar-thumb {
  background-color: #BEBEBE;
}

.sidebar-environments-list {
  color: #333;
}

.sidebar-environments-list li {
  border-radius: 3px;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  margin-bottom: 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sidebar-environments-list li:last-child {
  margin-bottom: 0;
}

.sidebar-environments-list li div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.sidebar-environments-list li div i {
  padding: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar-environments-list .settings-open {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.sidebar-environments-list .settings-open div {
  border-bottom-color: #ECECEC;
  border-radius: 3px 3px 0 0;
  box-shadow: none;
}

.sidebar-environments-list .settings-open .environments-list-settings {
  height: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.sidebar-environments-list .settings-open .environments-list-settings i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  opacity: 1;
  padding: 12px;
}

.environments-list-settings {
  border-radius: 0 0 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
  height: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: -1;
}

.environments-list-settings i {
  cursor: pointer;
  font-size: 0;
  opacity: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

.environments-list-settings i:first-child {
  color: rgba(255, 167, 38, 0.7);
}

.environments-list-settings i:first-child:hover {
  color: #FFA726;
}

.environments-list-settings i:nth-child(2) {
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  color: rgba(51, 51, 51, 0.7);
}

.environments-list-settings i:nth-child(2):hover {
  color: #333;
}

.environments-list-settings i:last-child {
  color: rgba(229, 57, 53, 0.7);
}

.environments-list-settings i:last-child:hover {
  color: #E53935;
}

#sidebar-environments-list-active {
  color: #333;
}

#sidebar-environments-list-active li > div i:first-of-type {
  color: #00E676;
}

@media screen and (max-width: 480px) {
  #sidebar {
    display: none;
  }
  #collapsed-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .collapsed-tooltip {
    display: none;
  }
}

main > .content {
  background-color: #F4F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 320px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-open .content {
  margin-left: 64px;
}

.content-welcome {
  background-color: #FEFEFE;
  border-bottom: 1px solid #ECECEC;
  color: rgba(51, 51, 51, 0.7);
  padding: 24px;
  width: 100%;
}

.content-nav {
  background-color: #FFF;
  border-bottom: 1px solid #ECECEC;
  list-style: none;
  width: 100%;
}

.content-nav li {
  border-bottom: 1px solid transparent;
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.content-nav li:hover, .content-nav li.active {
  color: #333;
}

@media screen and (max-width: 480px) {
  main > .content {
    margin-left: 64px;
    width: calc(100vw - 64px);
  }
  .content-welcome {
    display: none;
  }
  .content-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(100vw - 64px);
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .content-nav::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .content-nav li {
    font-weight: 300;
    padding: 16px 24px;
  }
}

#dashboard {
  display: none;
}

#dashboard.content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-environment {
  background-color: #F4F8FF;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  opacity: 0;
  max-width: 33%;
  min-width: 480px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

#add-environment h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  padding-left: 16px;
}

#add-environment h3 i {
  color: rgba(229, 57, 53, 0.7);
  cursor: pointer;
  padding: 16px;
}

#add-environment h3 i:hover {
  color: #E53935;
}

#add-environment.add-environment-open {
  height: auto;
  opacity: 1;
  padding: 16px;
  z-index: 1;
}

#add-environment.add-environment-open h3 {
  opacity: 1;
}

#add-environment.add-environment-open #add-environment-form {
  opacity: 1;
}

#add-environment-form {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  padding: 16px;
}

#add-environment-form label {
  padding-bottom: 8px;
}

#add-environment-form input, #add-environment-form textarea {
  border: 0;
  padding: 8px;
  outline-width: 0;
  resize: vertical;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

#add-environment-form input:not([type="submit"]), #add-environment-form textarea:not([type="submit"]) {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 16px;
}

#add-environment-form input:hover, #add-environment-form textarea:hover {
  border-bottom-color: #1F7AFF;
}

#add-environment-form input:focus, #add-environment-form textarea:focus {
  border-bottom-color: #1F7AFF;
  color: #333;
}

#add-environment-form textarea {
  height: 150px;
}

#add-environment-form input[type="submit"] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #1F7AFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 50%;
}

#add-environment-form input[type="submit"]:hover {
  color: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#dashboard-content {
  background-color: #F4F8FF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

#dashboard-content:hover {
  overflow-y: overlay;
}

#dashboard-content::-webkit-scrollbar {
  width: 8px;
}

#dashboard-content::-webkit-scrollbar-track {
  background-color: transparent;
}

#dashboard-content::-webkit-scrollbar-thumb {
  background-color: #BEBEBE;
}

.content-dashboard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  opacity: 0;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  z-index: -1;
}

.content-dashboard-content.active {
  max-height: calc(100vh - 58px - 91px - 56px);
  margin: 24px auto;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  #dashboard-content > div {
    padding: 8px;
  }
  .content-dashboard-content {
    display: none;
    height: auto;
    overflow-y: overlay;
  }
  .content-dashboard-content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100vh - 58px - 58px);
  }
  #add-environment {
    display: none;
    width: calc(100vw - 64px);
    min-width: calc(100vw - 64px);
  }
  #add-environment h3 {
    width: calc(100vw - 64px);
    font-size: 1.2em;
    text-align: center;
  }
  #add-environment.add-environment-open {
    width: calc(100vw - 64px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    overflow: hidden;
  }
  #add-environment-form {
    border-radius: 0;
    padding: 8px;
    margin-bottom: 8px;
    width: calc(100vw - 64px);
  }
  #add-environment-form input[type="submit"] {
    width: 80%;
  }
}

#content-dashboard-summary {
  padding: 0;
}

#summary-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#summary-list li:not(#summary-filter) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 16px 32px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 98%;
}

#summary-list li:not(#summary-filter):not(:last-child) {
  border-bottom: 1px solid #ECECEC;
}

#summary-list li:not(#summary-filter):last-child {
  margin-bottom: 24px;
}

#summary-list li:not(#summary-filter):hover {
  background-color: #F4F8FF;
}

#summary-list li:not(#summary-filter) span {
  font-size: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#summary-list .summary-indicator {
  font-size: 14px;
  padding-right: 32px;
}

#summary-list .summary-warning .summary-indicator {
  color: rgba(255, 167, 38, 0.7);
}

#summary-list .summary-success .summary-indicator {
  color: rgba(0, 230, 118, 0.7);
}

#summary-list .summary-danger .summary-indicator {
  color: rgba(229, 57, 53, 0.7);
}

#summary-list .summary-expand {
  font-size: 1.6em;
}

#summary-filter {
  border-radius: 30px 3px 3px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

#filter-heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F7AFF;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 64px;
}

#filter-heading i {
  color: rgba(255, 255, 255, 0.7);
  padding-right: 32px;
}

#filter-heading span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.filter span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
}

.filter i {
  font-size: 14px;
  padding-right: 32px;
}

.filter:hover span {
  color: #FFF;
}

.filter:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#filter-success i {
  color: rgba(0, 230, 118, 0.7);
}

#filter-success:hover i {
  color: #00E676;
}

#filter-warning {
  border-left: 1px solid #474747;
  border-right: 1px solid #474747;
}

#filter-warning i {
  color: rgba(255, 167, 38, 0.7);
}

#filter-warning:hover {
  border-bottom-color: #FFA726;
}

#filter-warning:hover i {
  color: #FFA726;
}

#filter-danger i {
  color: rgba(229, 57, 53, 0.7);
}

#filter-danger:hover {
  border-bottom-color: #E53935;
}

#filter-danger:hover i {
  color: #E53935;
}

@media screen and (max-width: 480px) {
  #content-dashboard-summary {
    margin: 0;
  }
  #filter-heading {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0;
  }
  #filter-heading i {
    padding: 0 8px;
  }
  #filter-heading span {
    display: none;
  }
  .filter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px;
  }
  .filter i {
    padding: 0;
  }
  .filter span {
    font-size: 0.9em;
    font-weight: 300;
  }
  #summary-list li:not(#summary-filter) {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #summary-list li:not(#summary-filter):last-child {
    margin-bottom: 0;
  }
  #summary-list .summary-indicator {
    padding: 8px;
  }
  #summary-list .summary-content {
    font-weight: 300;
    padding: 8px;
  }
}

.content-environment {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 3 - 11px);
  margin-bottom: 16px;
  z-index: -1;
}

.content-environment:nth-child(n+7) {
  margin-bottom: 24px;
}

.content-environment:not(:nth-child(3n)) {
  margin-right: 16px;
}

.content-environment h3 {
  background-color: #333;
  border-bottom: 1px solid #ECECEC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  padding: 16px;
  width: 100%;
}

.card-actions {
  border-top: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.card-actions :nth-child(2) {
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.card-actions i {
  padding-bottom: 8px;
}

.card-actions a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-actions a:hover {
  background-color: #F4F8FF;
  color: #333;
}

.content-dashboard-content.active .content-environment {
  height: 264px;
}

@media screen and (max-width: 480px) {
  #content-dashboard-environments {
    margin: 0;
  }
  .content-dashboard-content.active .content-environment {
    height: 200px;
    margin-right: 0;
    width: 100%;
  }
  .content-dashboard-content.active .content-environment:nth-child(n+7) {
    margin-bottom: 16px;
  }
  .content-dashboard-content.active .content-environment:last-child {
    margin-bottom: 0;
  }
  .card-actions a {
    font-weight: 300;
  }
}

#users {
  display: none;
}

#users.content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#users-list {
  margin: 24px auto;
  max-width: 1280px;
  width: 100%;
}

#users-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#users-list span {
  color: rgba(51, 51, 51, 0.7);
  font-size: 1.1em;
}

#users-list span:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#user-list-heading {
  background-color: #333;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
}

#user-list-heading i {
  display: none;
}

#user-list-heading span {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding: 16px 32px;
  text-transform: uppercase;
}

.users-list-user {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 96%;
}

.users-list-user span {
  padding: 16px 32px;
}

.users-list-user .user-action {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.users-list-user .user-action i {
  background-color: #1F7AFF;
  color: rgba(255, 255, 255, 0.7);
  padding: 16px 24px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.users-list-user .user-action i:hover {
  background-color: rgba(31, 122, 255, 0.7);
  color: #FFF;
}

.users-list-user .user-action i:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid #6ca7ff;
}

.users-list-user:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 480px) {
  #users-list {
    margin-top: 0;
    padding: 16px 8px;
    height: calc(100vh - 58px);
    overflow-y: overlay;
  }
  #user-list-heading {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #user-list-heading i {
    color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
  }
  #user-list-heading span {
    display: none;
  }
  .users-list-user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    width: 100%;
  }
  .users-list-user:not(:last-child) {
    margin: 0 0 8px 0;
  }
  .users-list-user span {
    font-weight: 300;
    padding: 8px;
  }
  .users-list-user .user-email {
    border-bottom: 1px solid #ECECEC;
  }
  .users-list-user .user-action {
    display: none;
  }
}

#subscriptions {
  display: none;
}

#subscriptions.content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#support {
  background-color: rgba(0, 230, 118, 0.7);
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#support h3 {
  text-align: left;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 700;
  margin-top: 24px;
  max-width: 1280px;
  width: 100%;
}

.support-msg {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  margin: 16px 0 24px 0;
  max-width: 1280px;
  width: 100%;
}

.msg-content {
  padding: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}

.msg-date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ECECEC;
  color: #BEBEBE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase;
}

.msg-date i {
  color: rgba(229, 57, 53, 0.7);
  margin-left: auto;
}

.msg-date i:hover {
  color: #E53935;
}

.subscription-content {
  max-height: calc(100vh - 209px - 58px - 56px);
  overflow: hidden;
}

.subscription-content:hover {
  overflow-y: overlay;
}

.subscription-content::-webkit-scrollbar {
  width: 8px;
}

.subscription-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.subscription-content::-webkit-scrollbar-thumb {
  background-color: #BEBEBE;
}

.subscription-table {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 24px auto;
  max-width: 1280px;
  width: 100%;
}

.subscription-table:not(:last-child) {
  margin-bottom: 32px;
}

.subscription-table span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
}

.subscription-table span:not(:last-child) {
  border-right: 1px solid #ECECEC;
}

.table-heading {
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-heading span:not(:last-child) {
  border-right: 1px solid #4d4d4d;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.table-row:not(:first-child) {
  border-top: 1px solid #ECECEC;
}

.table-row span {
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 480px) {
  #support {
    padding-top: 8px;
  }
  #support h3 {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 8px;
    text-align: center;
  }
  .support-msg {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
  .msg-content {
    padding: 8px;
    font-size: 1.1em;
    font-weight: 300;
  }
  .msg-date {
    padding: 8px;
  }
  .subscription-content {
    height: calc(100vh - 58px - 58px);
    max-height: calc(100vh - 58px - 58px);
    padding: 8px;
    overflow-y: overlay;
  }
  .subscription-content::-webkit-scrollbar {
    width: 4px;
  }
  .subscription-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
  }
  .subscription-table span {
    font-weight: 300;
    font-size: 1em;
    padding: 4px;
  }
  .subscription-table:not(:last-child) {
    margin-bottom: 16px;
  }
  .table-heading {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .table-heading span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
  }
  .table-heading span:nth-child(6) {
    height: 49px;
  }
  .table-heading span:not(:last-child) {
    border-right-width: 0;
    border-bottom: 1px solid #4d4d4d;
  }
  .table-row {
    border-top-width: 0;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .table-row:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-width: 0;
  }
  .table-row:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border-width: 0;
  }
  .table-row span:first-child, .table-row span:nth-child(3), .table-row span:nth-child(4), .table-row span:nth-child(8) {
    height: 49px;
  }
  .table-row span:nth-child(7) {
    height: 69px;
  }
  .table-row span:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
  }
}
