@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Open+Sans:300,600|Roboto+Slab:300");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
}

html {
  background-color: #F4F8FF;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  line-height: 1.35;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: #333;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p, a, li, span {
  color: inherit;
  font-family: Roboto Slab, serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.45em;
  margin: 0;
}

a, li, span, label {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  line-height: 1.45em;
  font-weight: 600;
}

input, textarea {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  line-height: 1.45em;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 56px);
  padding-top: 56px;
}

#header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F7AFF;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#header-menu-icon {
  cursor: pointer;
  padding: 16px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header-menu-icon:hover {
  color: #FFF;
}

#header-menu-icon.menu-icon-open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 4px;
}

#header-user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
}

#header-user-image {
  border-radius: 100%;
  height: 40px;
  margin: 0 16px;
  width: 40px;
}

#sidebar, #collapsed-sidebar {
  background-color: #F4F8FF;
  border-right: 1px solid #EEE;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 56px);
  position: fixed;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 320px;
  will-change: transform;
}

.sidebar-open #sidebar {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#collapsed-sidebar {
  -webkit-transform: translateX(-64px);
          transform: translateX(-64px);
  width: 64px;
}

#collapsed-sidebar li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  position: relative;
  -webkit-transition: all 0.15 ease;
  transition: all 0.15 ease;
}

#collapsed-sidebar li:hover {
  color: #333;
}

.sidebar-open #collapsed-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.collapsed-tooltip {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  cursor: default;
  font-size: 0.8em;
  left: 110%;
  opacity: 0;
  padding: 8px;
  position: absolute;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -9;
}

.collapsed-tooltip.tooltip-open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}

#sidebar-list a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#sidebar-list a:hover {
  color: #333;
  cursor: pointer;
}

#sidebar-list a i {
  padding-right: 16px;
}

#sidebar-environments-heading-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#sidebar-environments-heading-main i {
  padding-left: 8px;
  color: #BEBEBE;
  cursor: pointer;
}

#environments-info-tooltip {
  background-color: #FFF;
  border-radius: 3px;
  bottom: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  left: 42%;
  opacity: 0;
  padding: 8px;
  position: absolute;
  text-transform: none;
  width: 240px;
  z-index: -1;
}

#environments-info-tooltip.tooltip-active {
  opacity: 1;
  z-index: 1;
}

.sidebar-environments-heading {
  color: #BEBEBE;
  padding: 16px 0 8px 0;
  text-align: center;
  text-transform: uppercase;
}

#sidebar-environments-list-new {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 16px 16px 16px;
  padding: 12px;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#sidebar-environments-list-new:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: #333;
  cursor: pointer;
}

#sidebar-environments-list-new i {
  padding-right: 16px;
}

.list-settings-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.list-settings-icon:hover {
  color: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#sidebar-environments-scrollable {
  border-top: 1px solid #EEE;
  max-height: calc(100vh - 56px - 356px);
  padding: 0 16px 16px 16px;
  overflow: hidden;
}

#sidebar-environments-scrollable:hover {
  overflow-y: overlay;
}

#sidebar-environments-scrollable::-webkit-scrollbar {
  width: 4px;
}

#sidebar-environments-scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

#sidebar-environments-scrollable::-webkit-scrollbar-thumb {
  background-color: #BEBEBE;
}

.sidebar-environments-list {
  color: #333;
}

.sidebar-environments-list li {
  border-radius: 3px;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  margin-bottom: 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sidebar-environments-list li:last-child {
  margin-bottom: 0;
}

.sidebar-environments-list li div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.sidebar-environments-list li i {
  padding: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar-environments-list .settings-open {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.sidebar-environments-list .settings-open div {
  border-bottom-color: #ECECEC;
  border-radius: 3px 3px 0 0;
  box-shadow: none;
}

.sidebar-environments-list .settings-open .environments-list-settings {
  height: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.sidebar-environments-list .settings-open .environments-list-settings i {
  opacity: 1;
}

.environments-list-settings {
  border-radius: 0 0 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
  height: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: -1;
}

.environments-list-settings i {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

.environments-list-settings i:first-child {
  color: rgba(255, 167, 38, 0.7);
}

.environments-list-settings i:first-child:hover {
  color: #FFA726;
}

.environments-list-settings i:nth-child(2) {
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  color: rgba(51, 51, 51, 0.7);
}

.environments-list-settings i:nth-child(2):hover {
  color: #333;
}

.environments-list-settings i:last-child {
  color: rgba(229, 57, 53, 0.7);
}

.environments-list-settings i:last-child:hover {
  color: #E53935;
}

#sidebar-environments-list-active {
  color: #333;
}

#sidebar-environments-list-active li > div i:first-of-type {
  color: #00E676;
}

#content {
  background-color: #F4F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 320px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-open #content {
  margin-left: 64px;
}

#content-welcome {
  background-color: #FEFEFE;
  border-bottom: 1px solid #ECECEC;
  color: rgba(51, 51, 51, 0.7);
  padding: 24px;
  width: 100%;
}

#dashboard-content {
  background-color: #F4F8FF;
  min-height: calc(100vh - 56px - 91px - 58px);
  will-change: transform;
}

#dashboard-nav {
  background-color: #FFF;
  border-bottom: 1px solid #ECECEC;
  list-style: none;
  width: 100%;
}

#dashboard-nav li {
  border-bottom: 1px solid transparent;
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#dashboard-nav li:hover, #dashboard-nav li.active {
  color: #333;
}

#add-environment {
  background-color: #F4F8FF;
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  opacity: 0;
  max-width: 33%;
  min-width: 480px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

#add-environment h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  padding-left: 16px;
}

#add-environment h3 i {
  color: rgba(229, 57, 53, 0.7);
  cursor: pointer;
  padding: 16px;
}

#add-environment h3 i:hover {
  color: #E53935;
}

#add-environment.add-environment-open {
  height: auto;
  opacity: 1;
  padding: 16px;
  z-index: 1;
}

#add-environment.add-environment-open h3 {
  opacity: 1;
}

#add-environment.add-environment-open #add-environment-form {
  opacity: 1;
}

#add-environment-form {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  padding: 16px;
}

#add-environment-form label {
  padding-bottom: 8px;
}

#add-environment-form input, #add-environment-form textarea {
  border: 0;
  padding: 8px;
  outline-width: 0;
  resize: vertical;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

#add-environment-form input:not([type="submit"]), #add-environment-form textarea:not([type="submit"]) {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 16px;
}

#add-environment-form input:hover, #add-environment-form textarea:hover {
  border-bottom-color: #1F7AFF;
}

#add-environment-form input:focus, #add-environment-form textarea:focus {
  border-bottom-color: #1F7AFF;
  color: #333;
}

#add-environment-form textarea {
  height: 150px;
}

#add-environment-form input[type="submit"] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #1F7AFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 50%;
}

#add-environment-form input[type="submit"]:hover {
  color: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.content-dashboard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  opacity: 0;
  margin: 0 auto;
  max-width: 1280px;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  width: 100%;
  z-index: -1;
}

.content-dashboard-content.active {
  height: 100%;
  opacity: 1;
  padding: 16px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 1;
}

.content-dashboard-content.active .content-environment {
  height: 227px;
}

.content-environment {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 3 - 11px);
}

.content-environment:not(:nth-child(n+7)) {
  margin-bottom: 16px;
}

.content-environment:not(:nth-child(3n)) {
  margin-right: 16px;
}

.content-environment h3 {
  border-bottom: 1px solid #ECECEC;
  font-family: Open Sans, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  padding: 8px 16px;
  width: 100%;
}

.content-environment .card-actions {
  border-top: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content-environment .card-actions :nth-child(2) {
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.content-environment .card-actions a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.content-environment .card-actions a:hover {
  background-color: #F4F8FF;
  color: #333;
}
