* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #FCBE32;
  display: flex;
  justify-content: center;
}

.choice {
  display: inline-block;
}

.resultDiv {
  display: none;
}

.next {
  display: none;
}

.finish {
  display: none;
}

.content {
  display: none;
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  width: 100%;
}

.start, .theEnd {
  background-color: #004E66;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding: 0 100px;
}

.endDiv {
  cursor: auto;
  display: none;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.endResult {
  background-color: #E1EEF6;
  margin: 0;
  padding: 20px 100px;
}

.endResult p {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.question {
  background-color: #004E66;
  color: white;
  margin: 0;
  padding: 20px 100px;
}

.choicesAndResult {
  background-color: #E1EEF6;
  margin: 0;
  padding: 20px 100px;
}

button {
  background-color: #FF5F2E;
  border-width: 0;
  color: black;
  cursor: pointer;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  padding: 10px 80px;
}

.score {
  background-color: white;
  margin: 0;
  padding: 10px 30px;
  text-align: right;
}

.buttonsAndScore {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .question {
    padding: 20px 20px;
  }

  .choicesAndResult {
    padding: 20px 20px;
  }

  button {
    padding: 10px 40px;
  }

  .score {
    padding: 10px 20px;
  }

  .theEnd {
    padding: 0 20px;
  }

  .endResult {
    padding: 20px 20px;
  }
}