body{
    text-align: center;
    font-family: "Palatino Linotype";
    padding-bottom: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

#container, #mainContainer{
    font-size: 18px;
}

#bttn2{
    background-color: red;
}

form{
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 12px 12px 12px 20px;
    margin: 8px 28px 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

#id {
    width: 6%;
}
#name{
    width: 24%;
}

#position{
    width: 20%;
}

h1{
    color: black; font-family: 'Helvetica Neue', sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 20px;
}

table {
    margin-top: 0;
    margin-left: 120px;
    border-collapse: collapse;
    width: 86%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    color: #E4F1FE;
    background-color: #747992
}
tr:nth-child(even) {
    color: black;
    background-color: #c4cad3;
}

.button {
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover{
    background-color: #06683a;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: right;
    padding: 1rem 30px 1rem 1rem;
    color: black;
}



@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    #main{
        font-size: 0.9em;
    }
    #container {
        font-size: 1rem;
    }
    table {
        font-weight: bold;
        margin-right: 10px;
        border-collapse: collapse;
        width: 95%;
        margin-left: 10px;
    }
    h1 {
        font-size: 3em;
    }
    .button {
        width: 80%;
    }

    #bttn, #test {
        width: 100%;

    }
    input[type="text"]{
        width: 100%;
        padding: 12px 12px 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        margin-left: 0;
    }

    #id,#position,#name, #bttn2{
        width: 100%;
    }
    .footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}









