#formDelete input[type="submit"] {
	background-color: #f44336;
}

@media screen and (min-width: 768px) {
	#body-delete > main > .container {
		align-items: center;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		padding: 24px 0 0 0;
	}

	#formCreate {
		margin-top: 64px;
		width: 50%;
	}
}