main > .content {
	background-color: $secondary;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-left: 320px;
	transition: all 0.3s ease;
}

.sidebar-open .content {
	margin-left: 64px;
}

.content-welcome {
	background-color: #FEFEFE;
	border-bottom: 1px solid $lightBorder;
	color: $inactiveDarkText;
	padding: 24px;
	width: 100%;
}

.content-nav {
	background-color: #FFF;
	border-bottom: 1px solid $lightBorder;
	list-style: none;
	width: 100%;

	li {
		border-bottom: 1px solid transparent;
		color: $inactiveDarkText;
		cursor: pointer;
		display: inline-block;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		transition: all .3s ease;

		&:hover, &.active {
			color: $darkText;
		}
	}
}

@media screen and (max-width: 480px) {
	main > .content {
		margin-left: 64px;
		width: calc(100vw - 64px);
	}

	.content-welcome {
		display: none;
	}

	.content-nav {
		display: flex;
		max-width: calc(100vw - 64px);
		overflow-y: hidden;
		overflow-x: auto;
		white-space: nowrap;

		&::-webkit-scrollbar {
			width: 0;
			display: none;
		}

		li {
			font-weight: 300;
			padding: 16px 24px;
		}
	}
}