#content {
	background-color: $secondary;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-left: 320px;
	max-height: calc(100vh - 56px);
	transition: all 0.3s ease;
}

.sidebar-open #content {
	margin-left: 64px;
}

#content-welcome {
	background-color: #FEFEFE;
	border-bottom: 1px solid $lightBorder;
	color: $inactiveDarkText;
	padding: 24px;
	width: 100%;
}

#content-dashboard {
	background-color: $secondary;
}

#content-dashboard-nav {
	background-color: #FFF;
	border-bottom: 1px solid $lightBorder;
	display: flex;
	list-style: none;
	width: 100%;

	li {
		border-bottom: 1px solid transparent;
		color: $inactiveDarkText;
		cursor: pointer;
		padding: 16px 32px;
		text-align: center;
		transition: all .3s ease;

		&:hover {
			color: $darkText;
		}
	}
}

#add-environment {
	background-color: $secondary;
	color: $inactiveDarkText;
	display: flex;
	flex-direction: column;
	height: 0;
	opacity: 0;
	max-width: 33%;
	min-width: 480px;
	transition: all .3s ease;
	z-index: -1;

	h3 {
		align-items: center;
		display: flex;
		justify-content: space-between;
		opacity: 0;
		padding-left: 16px;

		i {
			color: $inactiveDanger;
			cursor: pointer;
			padding: 16px;

			&:hover {
				color: $danger;
			}
		}
	}

	&.add-environment-open {
		height: auto;
		opacity: 1;
		padding: 16px;
		z-index: 1;

		h3 {
			opacity: 1;
		}

		#add-environment-form {
			opacity: 1;
		}
	}
}

#add-environment-form {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $smallBoxShadow;
	display: flex;
	flex-direction: column;
	opacity: 0;
	padding: 16px;
	
	label {
		padding-bottom: 8px;
	}

	input, textarea {
		border: 0;
		padding: 8px;
		outline-width: 0;
		resize: vertical;
		transition: all .15s ease;

		&:not([type="submit"]) {
			border-bottom: 1px solid $lightBorder;
			margin-bottom: 16px;
		}

		&:hover {
			border-bottom-color: $primary;
		}

		&:focus {
			border-bottom-color: $primary;
			color: $darkText;
		}
	}

	textarea {
		height: 150px;
	}

	input[type="submit"] {
		align-self: center;
		background-color: $primary;
		border-radius: 3px;
		box-shadow: $smallBoxShadow;
		color: $inactiveLightText;
		cursor: pointer;
		transition: all .3s ease;
		width: 50%;

		&:hover {
			color: #FFF;
			box-shadow: $bigBoxShadow;
		}
	}
}