#dashboard {
	display: none;

	&.content-active {
		display: flex;
	}
}
#add-environment {
	background-color: $secondary;
	color: $inactiveDarkText;
	display: flex;
	flex-direction: column;
	height: 0;
	opacity: 0;
	max-width: 33%;
	min-width: 480px;
	transition: all .3s ease;
	z-index: -1;

	h3 {
		align-items: center;
		display: flex;
		justify-content: space-between;
		opacity: 0;
		padding-left: 16px;

		i {
			color: $inactiveDanger;
			cursor: pointer;
			padding: 16px;

			&:hover {
				color: $danger;
			}
		}
	}

	&.add-environment-open {
		height: auto;
		opacity: 1;
		padding: 16px;
		z-index: 1;

		h3 {
			opacity: 1;
		}

		#add-environment-form {
			opacity: 1;
		}
	}
}

#add-environment-form {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $smallBoxShadow;
	display: flex;
	flex-direction: column;
	opacity: 0;
	padding: 16px;
	
	label {
		padding-bottom: 8px;
	}

	input, textarea {
		border: 0;
		padding: 8px;
		outline-width: 0;
		resize: vertical;
		transition: all .15s ease;

		&:not([type="submit"]) {
			border-bottom: 1px solid $lightBorder;
			margin-bottom: 16px;
		}

		&:hover {
			border-bottom-color: $primary;
		}

		&:focus {
			border-bottom-color: $primary;
			color: $darkText;
		}
	}

	textarea {
		height: 150px;
	}

	input[type="submit"] {
		align-self: center;
		background-color: $primary;
		border-radius: 3px;
		box-shadow: $smallBoxShadow;
		color: $inactiveLightText;
		cursor: pointer;
		transition: all .3s ease;
		width: 50%;

		&:hover {
			color: #FFF;
			box-shadow: $bigBoxShadow;
		}
	}
}


#dashboard-content {
	background-color: $secondary;
	flex: 1;
	overflow-x: hidden;
	overflow-y: hidden;

	&:hover {
		overflow-y: overlay;
	}

	&::-webkit-scrollbar {
    width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $lightText;
	}
}

.content-dashboard-content {
	display: flex;
	flex-wrap: wrap;
	height: 0;
	opacity: 0;
	margin: 0 auto;
	max-width: 1280px;
	transform: translateX(100%);
	width: 100%;
	z-index: -1;

	&.active {
		max-height: calc(100vh - 58px - 91px - 56px);
		margin: 24px auto;
		opacity: 1;
		transform: translateX(0);
		transition: all .3s ease;
		z-index: 1;
	}
}

@media screen and (max-width: 480px) {
	#dashboard-content {
		> div {
			padding: 8px;
		}
	}
	
	.content-dashboard-content {
		display: none;
		height: auto;
		overflow-y: overlay;

		&.active {
			display: flex;
			max-height: calc(100vh - 58px - 58px);
		}
	}

	#add-environment {
		display: none;
		width: calc(100vw - 64px);
		min-width: calc(100vw - 64px);

		h3 {
			width: calc(100vw - 64px);
			font-size: 1.2em;
			text-align: center;
		}

		&.add-environment-open {
			width: calc(100vw - 64px);
			display: flex;
			padding: 0;
			transform: translateY(0) !important;
			overflow: hidden;
		}
	}

	#add-environment-form {
		border-radius: 0;
		padding: 8px;
		margin-bottom: 8px;
		width: calc(100vw - 64px);

		input[type="submit"] {
			width: 80%;
		}
	}
}