#header {
	align-items: center;
	background-color: $primary;
	color: $inactiveLightText;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#header-menu-icon {
	cursor: pointer;
	padding: 16px;
	transform: rotate(0);
	transition: all .3s ease;
	user-select: none;

	&:hover {
		color: #FFF;
	}

	&.menu-icon-open {
		transform: rotate(90deg);
		margin-left: 4px;
	}
}

#header-user {
	align-items: center;
	display: flex;
	padding: 8px 16px;
}

#header-user-notification {
	cursor: pointer;
	transition: all .3s ease;
	position: relative;

	&:hover {
		color: #FFF;
	}

	&::after {
		align-items: center;
		background-color: $warning;
		border-radius: 50%;
		bottom: 24px;
		box-shadow: $smallBoxShadow;
		color: $inactiveDarkText;
		content: '';
		display: flex;
		font-size: 0.8em;
		height: 8px;
		justify-content: center;
		left: 16px;
		position: absolute;
		width: 8px;
	}
}

#notification-dropdown {
	background-color: $primary;
	border-bottom-left-radius: 3px;
	box-shadow: $bigBoxShadow;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 56px;
	transition: all .3s ease;
	z-index: -1;

	&.notifications-open {
		height: auto;
		opacity: 1;
		z-index: 1;

		li {
			height: auto;

			&:not(:last-child) {
				border-bottom-width: 1px;
			}
		}
	}

	li {
		border-bottom: 0 solid lighten($primary, 10%);
		color: $inactiveLightText;
		height: 0;
		
		&:last-child {
			border-bottom-left-radius: 3px;
		}

		&:hover {
			color: #FFF;

			i {
				color: $inactiveLightText;
			}
		}

		i:hover {
			color: #FFF;
		}
	}
}

.notification-info {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	font-size: 1em;

	i {
		font-size: inherit;
	}

	&:not(.content) {
		font-size: 0.7em;
		font-weight: 300;
		padding: 4px 8px;
	}
}

#header-user-image {
	border: 2px solid $inactiveLightText;
	border-radius: 100%;
	cursor: pointer;
	height: 40px;
	margin: 0 16px;
	transition: all .3s ease;
	width: 40px;

	&:hover {
		border-color: #FFF;
	}
}

#header-user-name {
	align-items: center;
	cursor: pointer;
	display: flex;
	transition: all .3s ease;

	i {
		padding-left: 4px;
	}

	&:hover {
		color: #FFF;
	}
}

#user-dropdown {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $bigBoxShadow;
	color: $inactiveDarkText;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 0;
	opacity: 0;
	position: absolute;
	right: 16px;
	top: 72px;
	transition: all .3s ease;
	z-index: -1;

	li {
		align-items: center;
		font-size: 1em;
		display: flex;
		height: 0;
		opacity: 0;
		padding: 16px;
		z-index: inherit;

		&:hover {
			background-color: $secondary;
			color: $darkText;

			&:first-child {
				border-radius: 3px 3px 0 0;
			}

			&:last-child {
				border-radius: 0 0 3px 3px
			}
		}
		
		i {
			padding-right: 8px;
		}
	}

	&.dropdown-active {
		height: auto;
		opacity: 1;
		z-index: 2;

		li {
			height: auto;
			opacity: 1;
			z-index: inherit;
		}
	}
}

@media screen and (max-width: 480px) {
	#header {
		width: 100vw;
	}

	#header-menu-icon {
		display: none;
	}

	#header-title {
		padding: 16px;
		font-size: 1em;
	}

	#header-user {
		padding: 0;
	}

	#header-user-notification {
		line-height: 1;
		padding: 16px;

		&:after {
			bottom: 36px;
			left: 32px;
		}
	}

	#header-user-image {
		margin: 0 16px;
	}

	#header-user-name {
		display: none;
	}

	#notification-dropdown {
		cursor: initial;
		transition: all .1s ease;
		width: calc(100vw - 64px);
	}

	.notification-info {
		font-size: 0.8em;

		&.content {
			padding: 4px 8px;
		}
	}

	#user-dropdown {
		cursor: initial;
		right: 8px;
		top: 64px;

		li {
			padding: 8px;
			font-size: 1em;
			font-weight: 300;

			i {
				font-size: 1.3em;
			}
		}
	}
}