#sidebar, #collapsed-sidebar {
	background-color: $secondary;
	border-right: 1px solid #EEE;
	color: $inactiveDarkText;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 56px);
	position: fixed;
	transition: all .3s ease;
	width: 320px;
	will-change: transform;
	z-index: 1;
}

.sidebar-open #sidebar {
	opacity: 0;
	transform: translateX(-100%);
}

#collapsed-sidebar {
	background-color: #FFF;
	transform: translateX(-64px);
	width: 64px;

	li {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 16px;
		position: relative;
		transition: all 0.15 ease;

		&:hover {
			color: $darkText;
		}
	}
}

.sidebar-open #collapsed-sidebar {
	transform: translateX(0);
}

.collapsed-tooltip {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $bigBoxShadow;
	color: $inactiveDarkText;
	cursor: default;
	font-size: 0.8em;
	left: 110%;
	opacity: 0;
	padding: 8px;
	position: absolute;
	transform: translateX(-130%);
	transition: all .3s ease;
	z-index: -9;

	&.tooltip-open {
		opacity: 1;
		transform: translateX(0);
		z-index: 2;
	}
}

#sidebar-list {
	a, li {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-weight: 600;
		padding: 16px;
		text-decoration: none;
		transition: all 0.15s ease;

		&:hover {
			color: $darkText;
		}

		i {
			padding-right: 16px;
		}
	}
}

#sidebar-environments-heading-main {
	align-items: center;
	color: $inactiveDarkText;
	display: flex;
	font-size: 1.5em;
	justify-content: center;
	padding: 16px;
	position: relative;
	user-select: none;

	i {
		padding-left: 8px;
		color: $lightText;
		cursor: pointer;
	}
}

#environments-info-tooltip {
	background-color: #FFF;
	border-radius: 3px;
	bottom: 80%;
	box-shadow: $bigBoxShadow;
	font-size: 14px;
	left: 42%;
	opacity: 0;
	position: absolute;
	text-transform: none;
	width: 256px;
	z-index: -1;

	&.tooltip-active {
		opacity: 1;
		z-index: 2;
	}

	p {			
		font-family: $fontNormal;
		font-weight: 600;
		padding: 16px;
	}
}

.sidebar-environments-heading {
	color: $lightText;
	padding: 16px 0 8px 0;
	text-align: center;
	text-transform: uppercase;
}

#sidebar-environments-list-new {
		background-color: #FFF;
		border-radius: 3px;
		box-shadow: $smallBoxShadow;
		color: $inactiveDarkText;
		display: flex;
		font-weight: 600;
		justify-content: center;
		margin: 8px 16px 16px 16px;
		padding: 12px;
		text-decoration: none;
		transition: all 0.15s ease;

		&:hover {
			box-shadow: $bigBoxShadow;
			color: $darkText;
			cursor: pointer;
		}

		i {
			padding-right: 16px;
		}
	}

.list-settings-icon {
	align-self: flex-end;
	cursor: pointer;
	transition: all .3s ease;

	&:hover {
		color: $darkText;
		transform: rotate(45deg);
	}
}

#sidebar-environments-scrollable {
	border-top: 1px solid #EEE;
	max-height: calc(100vh - 56px - 356px);
	padding: 0 16px 16px 16px;
	overflow: hidden;

	&:hover {
		overflow-y: overlay;
	}

	&::-webkit-scrollbar {
    width: 4px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $lightText;
	}
}

.sidebar-environments-list {
	color: $darkText;

	li {
		border-radius: 3px;
		color: $inactiveDarkText;
		display: flex;
		flex-direction: column;
		font-weight: 600;
		margin-bottom: 8px;
		transition: all .3s ease;

		&:last-child {
			margin-bottom: 0;
		}

		div {
			align-items: center;
			background-color: #FFF;
			border-bottom: 1px solid transparent;
			border-radius: 3px;
			box-shadow: $smallBoxShadow;
			display: flex;
			justify-content: space-between;
			z-index: 1;

			i {
				padding: 12px;
				user-select: none;
			}
		}
	}

	.settings-open {
		box-shadow: $smallBoxShadow;

		div {
			border-bottom-color: $lightBorder;
			border-radius: 3px 3px 0 0;
			box-shadow: none;
		}

		.environments-list-settings {
			height: auto;
			opacity: 1;
			transform: translateY(0);
			z-index: 1;

			i {
				flex: 1;
				font-size: 24px;
				opacity: 1;
				padding: 12px;
			}
		}
	}
}

.environments-list-settings {
	border-radius: 0 0 3px 3px;
	display: flex;
	font-family: Open Sans;
	height: 0;
	justify-content: space-around;
	opacity: 0;
	transform: translateY(-100%);
	z-index: -1;

	i {
		cursor: pointer;
		font-size: 0;
		opacity: 0;
		padding: 0;
		text-align: center;
		transition: all .3s ease;
		z-index: -1;
	}

	i:first-child {
		color: $inactiveWarning;
		&:hover {
			color: $warning;
		}
	}

	i:nth-child(2) {
		border-left: 1px solid $lightBorder;
		border-right: 1px solid $lightBorder;
		color: $inactiveDarkText;
		&:hover {
			color: $darkText;
		}
	}

	i:last-child {
		color: $inactiveDanger;
		&:hover {
			color: $danger;
		}
	}
}

#sidebar-environments-list-active {
	color: $darkText;
	
	li > div {
		i:first-of-type {
			color: $success;
		}
	} 
}

@media screen and (max-width: 480px) {
	#sidebar {
		display: none;
	}

	#collapsed-sidebar {
		display: flex;
		transform: translateY(0);
	}

	.collapsed-tooltip {
		display: none;
	}
}