#subscriptions {
	display: none;

	&.content-active {
		display: flex;
	}
}

#support {
	align-items: center;
	background-color: $inactiveSuccess;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px;

	h3 {
		color: $inactiveDarkText;
		font-weight: 700;
		max-width: 1280px;
		padding-bottom: 16px;
		text-align: left;
		width: 100%;
	}
}

.support-msg {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $bigBoxShadow;
	color: $inactiveDarkText;
	max-width: 1280px;
	width: 100%;
}

.msg-content {
	font-family: $fontNormal;
	font-weight: 600;
	padding: 16px;
}

.msg-date {
	align-items: center;
	border-top: 1px solid $lightBorder;
	color: $lightText;
	display: flex;
	font-family: $fontHeading;
	font-size: 1em;
	font-weight: 700;
	padding: 8px 16px;
	text-transform: uppercase;

	i {
		color: $inactiveDanger;
		margin-left: auto;

		&:hover {
			color: $danger;
		}
	}
}

.subscription-content {
	max-height: calc(100vh - 209px - 58px - 56px);
	overflow: hidden;
	padding: 16px;

	&:hover {
		overflow-y: overlay;
	}

	&::-webkit-scrollbar {
    width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $lightText;
	}
}

.subscription-table {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $smallBoxShadow;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 32px;
	}

	span {
		display: flex;
		flex: 1;
		padding: 16px;

		&:not(:last-child) {
			border-right: 1px solid $lightBorder;
		}
	}
}

.table-heading {
	background-color: $darkText;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: $inactiveLightText;
	display: flex;

	span:not(:last-child) {
		border-right: 1px solid lighten($darkText, 10%);
	}
}

.table-row {
	display: flex;
	flex: 1;

	&:not(:first-child) {
		border-top: 1px solid $lightBorder;
	}

	span {
		flex: 1;
		font-weight: 300;
	}
}

@media screen and (max-width: 1280px) {
	#subscriptions.content-active {
    width: calc(100vw - 360px);
	}

	.subscription-content {
		min-height: calc(100vh - 56px - 58px);
	}

	.subscription-table {
		display: flex;
		margin: 0;
		width: 100%;

		span {
			font-size: 1.1em;

			&:not(:last-child) {
				border-right-width: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.table-heading {
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		display: flex;
		flex-direction: column;
		order: 1;

		span {
			display: flex;
			flex: 1;

			&:nth-child(6) {
				height: 49px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid lighten($darkText, 10%);
				border-right-width: 0;
			}
		}
	}

	.table-row {
		border-top-width: 0;
		display: block;
		flex-direction: column;

		&:nth-child(2) {
			border-color: $lightBorder;
			border-style: solid;
			border-width: 0 1px 0 0;
			order: 2;
		}

		&:nth-child(3) {
			border-width: 0;
			order: 3;
		}

		span {
			flex: 1;

			&:not(:last-child) {
				border-bottom: 1px solid $lightBorder;
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	#support {
		border-bottom-width: 0;
		margin: 0;
		padding: 16px;

		h3 {
			margin-top: 0;
		}
	}

	.support-msg {
		margin-bottom: 0;
	}

	.subscription-content {
		min-height: calc(100vh - 56px - 58px);
		padding: 16px;
	}

	.subscription-table {
		display: flex;
		margin: 0;
		width: 100%;

		&:last-child {
			margin-bottom: 16px;
		}

		span {
			font-size: 1.1em;
			padding: 8px 16px;

			&:not(:last-child) {
				border-right-width: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.table-heading {
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		display: flex;
		flex-direction: column;
		order: 1;

		span {
			display: flex;
			flex: none;

			&:not(:last-child) {
				border-bottom: 1px solid lighten($darkText, 10%);
				border-right-width: 0;
			}
		}
	}

	.table-row {
		border-top-width: 0;
		display: block;
		flex-direction: column;

		&:nth-child(2) {
			border-color: $lightBorder;
			border-style: solid;
			border-width: 0 1px 0 0;
			order: 2;
		}

		&:nth-child(3) {
			border-width: 0;
			order: 3;
		}

		span {
			padding: 8px 16px;

			&:not(:last-child) {
				border-bottom: 1px solid $lightBorder;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#support {
		padding: 16px;

		h3 {
			margin-top: 0;
		}
	}

	.support-msg {
		margin-bottom: 0;
	}

	.subscription-content {
		padding: 16px;
	}

	.subscription-table {
		display: flex;
		margin: 0;
		width: 100%;

		span {
			font-size: 1.1em;

			&:not(:last-child) {
				border-right-width: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.table-heading {
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		display: flex;
		flex-direction: column;
		order: 1;

		span {
			display: flex;
			flex: 1;

			&:nth-child(6) {
				height: 49px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid lighten($darkText, 10%);
				border-right-width: 0;
			}
		}
	}

	.table-row {
		border-top-width: 0;
		display: block;
		flex-direction: column;

		&:nth-child(2) {
			border-color: $lightBorder;
			border-style: solid;
			border-width: 0 1px 0 0;
			order: 2;
		}

		&:nth-child(3) {
			border-width: 0;
			order: 3;
		}

		span {
			flex: 1;

			&:not(:last-child) {
				border-bottom: 1px solid $lightBorder;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#support {
		padding: 8px;

		h3 {
			font-size: 1.2em;
			margin: 0;
			padding-bottom: 8px;
		}
	}

	#subscription-nav {
		border-bottom-width: 0;
	}

	.support-msg {
		border-radius: 3px;
		box-shadow: $bigBoxShadow;
		margin: 0;
		width: 100%;
	}

	.msg-content {
		font-size: 1.1em;
		font-weight: 300;
		padding: 8px;
	}

	.msg-date {
		padding: 8px;
	}

	.subscription-content {
		height: calc(100vh - 58px - 58px);
		max-height: calc(100vh - 58px - 58px);
		overflow-y: overlay;
		padding: 8px;

		&::-webkit-scrollbar {
			width: 4px;
		}
	}

	.subscription-table {
		display: flex;
		margin: 0;
		width: 100%;

		span {
			font-size: 1em;
			font-weight: 300;
			padding: 4px;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.table-heading {
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		display: block;
		order: 1;

		span {
			display: flex;
			padding: 4px;

			&:nth-child(6) {
				height: 49px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid lighten($darkText, 10%);
				border-right-width: 0;
			}
		}
	}

	.table-row {
		border-top-width: 0;
		display: block;
		flex-direction: column;

		&:nth-child(2) {
			border-width: 0;
			order: 2;
		}

		&:nth-child(3) {
			border-width: 0;
			order: 3;
		}

		span {
			&:first-child, &:nth-child(3), &:nth-child(4), &:nth-child(8) {
				height: 49px;
			}

			&:nth-child(7) {
				height: 69px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $lightBorder;
			}
		}
	}
}