#users {
	display: none;

	&.content-active {
		display: flex;
	}
}

#users-list {
	margin: 24px auto;
	max-width: 1280px;
	width: 100%;

	li {
		display: flex;
	}

	span {
		color: $inactiveDarkText;
		font-size: 1.1em;

		&:not(:last-child) {
			flex: 1;
		}
	}
}

#user-list-heading {
	background-color: $darkText;
	border-radius: 30px;
	box-shadow: $bigBoxShadow;
	margin-bottom: 24px;

	i {
		display: none;
	}

	span {
		background-color: transparent;
		color: $inactiveLightText;
		font-family: $fontHeading;
		font-weight: 700;
		padding: 16px 32px;
		text-transform: uppercase;
	}
}

.users-list-user {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $smallBoxShadow;
	margin: 0 auto;
	width: 96%;

	span {
		padding: 16px 32px;
	}

	.user-action {
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 0;

		i {
			background-color: $primary;
			color: $inactiveLightText;
			padding: 16px 24px;
			transition: all .3s ease;

			&:hover {
				background-color: $inactivePrimary;
				color: #FFF;
			}

			&:last-child {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				border-left: 1px solid lighten($primary, 15%);
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 8px;
	}
}

@media screen and (max-width: 480px) {
	#users-list {
		margin-top: 0;
		padding: 16px 8px;
		height: calc(100vh - 58px);
		overflow-y: overlay;
	}

	#user-list-heading {
		justify-content: space-around;

		i {
			color: $inactiveLightText;
			display: flex;
			padding: 16px;
		}
		
		span {
			display: none;
		}
	}

	.users-list-user {
		flex-direction: column;
		font-size: 1em;
		width: 100%;

		&:not(:last-child) {
			margin: 0 0 8px 0;
		}

		span {
			font-weight: 300;
			padding: 8px;
		}

		.user-email {
			border-bottom: 1px solid $lightBorder;
		}

		.user-name {
		}

		.user-action {
			display: none;
		}
	}
}
