.aui {
	form {
		align-items: flex-start;
		display: flex;
		justify-content: center;
	}

	.fieldset {
		width: 300px;

		input {
			font-size: 14px;
			height: 20px;
			margin: 0;
			width: 287px;
		}
	}

	.btn {
		font-size: 14px;
		margin: 0;
		padding: 4px 12px;
		width: 100px;
	}
}

@media only screen and (max-width: 450px) {
	.aui {
		.fieldset {
			width: 220px;

			input {
				width: 207px;
			}
		}
	}
}